@media only screen and (max-width: 1199px){}

/*category links*/
.category-links li,
.user-content .category-links li{
	float: left;
	height: 60px;
	padding: 0;
	width: 50%;
}
/*category links end*/

/*case*/
.case__item{
	position: relative;
	float: left;
	width: 33.29%;
	width: calc(33.29% + 1px);
}
/*case end*/

/*FOOTER*/
/*grid*/
.grid-col-3{
	width: 33.3%;
}
.grid-col-6{
	width: 33.3%;
}
.footer-top .grid-col-3{
	width: 33.3%;
}
.footer-top .grid-col-6{
	width: 66.6%;
}
/*grid end*/

/*footer top*/
.footer-top{
	padding: 33px 40px 15px;
}

/*footer phones*/
.ft-phones__dt{
	float: none;
	display: inline-block;
	vertical-align: top;
	width: auto;
	max-width: none;
}
.ft-phones__dd{
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	overflow: visible;
	width: auto;
}
/*footer phones end*/

/*map site*/
.footer-top .switcher-col{
	display: block;
	float: none;
	clear: both;
	width: auto;
}
.map-site-switcher{
	margin-left: 33.3%;
}
.map-site-switcher:before{
	left: -11px;
	right: -11px;
	top: -6px;
}
/*map site end*/
/*footer top end*/

/*useful links*/
.useful-links li{
	display: block;
	width: auto;
}
/*useful links end*/
/*FOOTER end*/