@media only screen and (max-width: 479px){}

.img{
	border-width: 7px;
}
.user-content blockquote {
	padding: 18px 20px 28px 20px;
}
/*images group*/
.img-group__holder {
	margin: 0 -6px;
}
.img-group__item{
	width: 49.98%;
	padding: 0 6px 30px;
}
/*images group end*/

/*HEADER*/
/*button menu*/
.btn-menu.active{
	-webkit-transform: translate(50px, 0);
	-ms-transform: translate(50px, 0);
	transform: translate(50px, 0);
}
.btn-menu.active>span{ opacity: 0; }
.btn-menu.active .btn-lines:before{
	opacity: 1;
}
/*button menu end*/
/*HEADER end*/

/*MAIN NAVIGATION*/
.nav-overlay-page{ background: rgba(0, 0, 0, 0.6); }
.nav-opened .nav__holder,
.nav-opened .main-page .nav__holder{ width: 260px; }
.nav__list >li>a{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
}
.nav__list [class*="depict-icons-angle-"]{ right: 20px; }
.nav-drop__list>li>a{ padding-left: 40px; }
.nav-sub-drop__list>li>a{ padding-left: 60px; }
/*MAIN NAVIGATION end*/

/*MAIN CONTENT*/
/*case*/
.case{
	padding: 0 30px;
}
.case__list{
	padding: 0;
	margin: 0;
}
.case__list .slick-list{
	border: 1px solid #ccc;
	box-shadow: 0 0 0 1px transparent;
	box-shadow: 0 0 0 1px rgba(0,0,0,0);
	-webkit-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
}
.case__list .slick-list:hover{
	border-color: #008acf;
	box-shadow: 0 0 0 1px #008acf;
}
.case__item{
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
}
.photo-card__img img{
	margin: 0 auto;
}
.case__photo-card,
.case__contacts-card{
	border: none;
}
.case__photo-card:hover,
.case__contacts-card:hover{
	box-shadow: none;
}
/*case end*/

/*press*/
/*previews*/
.press-adt__item{
	display: block;
	width: auto;
}
/*previews end*/
/*press end*/

/*works*/
.works__container{
	padding: 20px 15px;
}
.works__title {
	font-size: 20px;
	line-height: 28px;
}
.works__tabs-control,
.user-content .works__tabs-control{
	padding: 0 0 10px;
}
/*works end*/
/*MAIN CONTENT end*/

/*FOOTER*/
/*grid*/
.grid-col-3,
.grid-col-6{
	width: auto;
	float: none;
	display: block;
}
/*grid end*/

/*footer top*/
/*footer logo*/
.logo-col{ padding: 0 0 6px; }
.footer-logo{
	float: none;
	display: block;
	-webkit-background-size: contain;
	background-size: contain;
	width: 208px;
	height: 40px;
	margin: 0 auto;
}
/*footer logo end*/

/*btn map site*/
.footer-top .switcher-col{
	text-align: center;
}
/*btn map site end*/

/*footer phones*/
.ft-phones{
	margin: 0;
	padding: 0 0 10px;
	overflow: hidden;
}
.ft-phones__list{
	float: left;
	padding: 0;
	text-align: left;
	margin: 0;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.ft-phones__list>li{
	display: block;
	padding: 0 0 15px;
	width: auto;
}
.ft-phones__dt, .ft-phones__dd{
	float: left;
}
/*footer phones end*/
/*footer top end*/

/*site map*/
.site-map__box{
	width: 100%;
}
/*site map end*/

/*footer contacts*/
.footer-contacts{
	text-align: center;
	padding: 30px 20px 10px;
}
.footer-contacts .grid-col-3,
.footer-contacts .grid-col-6{
	float: none;
	display: block;
	width: auto;
	padding: 0 0 20px;
}
/*useful links*/
.useful-links,
.work-list,
.address{
	position: relative;
	float: left;
	left: 50%;
	vertical-align: top;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.useful-links{
	white-space: nowrap;
}
.useful-links li {
	display: block;
	width: auto;
	text-align: left;
}
.work-list li{
	text-align: left;
}
.work-list li>strong{
	float: left;
	overflow: visible;
}
.road{
	width: 100%;
	float: left;
	clear: both;
}
/*useful links end*/
/*footer contacts end*/

/*footer bottom*/
.footer-holder{
	padding-top: 20px;
}
.footer-col{
	width: auto;
	float: none;
	display: block;
	text-align: center;
	padding: 0 0 20px;
}
.footer-col_right{
	padding: 20px 10px;
}
/*footer bottom end*/
/*FOOTER end*/