@media only screen and (max-width: 639px){}

.content-wrap .content{
	padding: 0 30px;
}
.full-width {
	margin: 0 -30px;
}
.press { margin-top: -30px; }
.page-heading{
	padding-left: 30px;
	padding-right: 30px;
	margin-left: -30px;
	margin-right: -30px;
	height: auto;
	min-height: 140px;
}

.imgr,
.imgl{
	float: none;
	text-align: center;
	margin: 0 auto;
}

/*form style*/
.form-row .input-wrap{
	width: 100%;
	padding-top: 20px;
}
.form-row .input-wrap:first-child{
	padding-top: 0;
}
/*form style end*/

/*breadcrumbs*/
.breadcrumbs li,
.user-content .breadcrumbs li{
	padding: 0 10px 10px 15px;
}
.breadcrumbs li:first-child {
	padding-left: 0;
}
/*breadcrumbs end*/

/*promo*/
.promo-btn {
	right: 75px;
	left: 75px;
	bottom: 55px;
	text-align: center;
}
/*promo slider*/
.promo-slider{
	height: 380px;
}
.promo-slider:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 180px;
	width: 100%;
	z-index: 1;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.promo-slider__content{
	top: 20px;
	right: 20px;
	left: 20px;
	background: rgba(255, 255, 255, 0.8);
	padding: 16px 20px;
}
.promo-slider__content:after{
	display: block;
}
.promo-slider__title {
	display: block;
	font-size: 18px;
	line-height: 24px;
	max-height: 72px;
	margin-bottom: 10px;
	text-transform: none;
}
.promo-slider__title a{
	border-width: 1px;
}
.promo-slider__text{
	font-size: 14px;
	line-height: 22px;
	max-height: 88px;
}

.promo-slider .slick-prev {
	left: 20px;
	bottom: 55px;
}
.promo-slider .slick-next {
	left: auto;
	right: 20px;
	bottom: 55px;
}

.promo-slider .slick-dots{
	display: block;
	right: 35px;
	bottom: 15px;
	top: auto;
}

/*promo slider end*/

/*category links*/
.category-links li,
.user-content .category-links li{
	float: none;
	width: auto;
}
/*category links end*/
/*promo end*/

/*wit*/
.wit-holder{ margin-right: 0; }

/*uncos slider*/
.uncos-slider{
	height: auto;
}
.uncos-slider .slick-next {
	left: auto;
	right: 38px;
}
.uncos-footer{
	text-align: center;
}
/*uncos slider end*/

/*meter*/
.meter{
	width: 100%;
	float: none;
}
/*meter end*/
/*wit end*/

/*content box*/
.content-box__head,
.content-box{
	padding-bottom: 55px;
}
.content-box__caption{
	width: auto;
	margin-left: 30px;
}
.columns-box{
	padding: 0 30px;
}
.columns-box__column{
	width: auto;
	border-left-color: transparent;
	padding: 0 0 0 28px;
	position: relative;
}
.columns-box__column:before{
	content: '';
	position: absolute;
	left: 0;
	top: 7px;
	height: 9px;
	width: 9px;
	background: #83cff0;
	border-radius: 9px;
}
.content-box__description{
	width: auto;
	margin-left: 30px;
}
/*content box end*/

/*case*/
.case__item{
	position: relative;
	float: left;
	width: 49.98%;
	width: calc(49.98% + 1px);
}
/*case end*/

/*history info*/
.history-info {
	width: auto;
	padding: 0 30px;
}
/*history info end*/

/*glance*/
.glance__slider{
	padding: 0 0 67px;
}
.glance__spacer{
	display: none;
}
.glance__box-center{
	width: auto;
	height: auto;
	position: relative;
	left: auto;
	top: auto;
	margin: 0;
	overflow: hidden;
	padding: 10px 20px 10px 30px;
}
.glance__caption{
	float: left;
	min-width: 90px;
	margin-right: 15px;
}
.glance__count{
	font: 40px/42px 'Times New Roman', Times, serif;
	font-weight: bold;
	text-align: left;
	margin: 0;
}
.glance__unit{
	text-align: left;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0 0 -2px;
}
.glance__unit:after{
	content: none;
	margin: 0;
	padding: 0;
}
.glance__text{
	text-align: left;
	max-height: none;
}

.glance__slider .slick-prev,
.glance__slider .slick-next {
	top: auto;
	bottom: 15px;
}
.glance__slider .slick-prev:before{
	background-position: 0 0;
}
.glance__slider .slick-next:before{
	background-position: 0 -76px;
}
/*glance end*/

/*contacts panel*/
.contacts-panel{
	padding: 40px 30px 40px;
}
.cont-dt,
.cont-dd{
	display: block;
	width: auto;
	text-align: left;
}
.cont-numbers{
	right: auto;
	left: 0;
}
.contacts-panel__phones li{
	padding: 0 0 15px;
}
/*contacts panel end*/

/*contacts*/
.contacts{
	margin-top: -30px;
}
/*contacts biz*/
.contacts__biz,
.user-content .contacts__biz{
	float: none;
	padding: 30px 0 20px 30px;
	margin-bottom: 0;
}
.contacts__biz:before{
	left: -10%;
	top: 100%;
	height: 4px;
	width: 120%;
}
/*contacts biz end*/

/*contacts address*/
.contacts__address{
	margin-bottom: 0;
	padding: 30px 0 0;
}
.contacts-adr__item{
	display: block;
	width: auto;
	padding: 0 30px 20px 0;
}
/*contacts address end*/

/*contacts phones container*/
.contacts-phones-container {
	padding: 31px 30px 26px;
}
.cph__row{
	display: block;
	padding: 0 0 10px;
}
.cph__dt, .cph__dd{
	display: block;
	padding: 0;
}
.cph__dd{
	padding-left: 28px;
}
.cph__dt{
	width: 100%;
	margin: 0 0 -10px;
}
/*contacts phones container end*/

/*callback container*/
.callback-container {
	padding: 45px 30px 30px;
}
.callback-container h2{
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 15px;
}
.note{
	padding: 0 0 25px;
}
/*callback form*/
.callback-form .form-row .input-wrap{
	width: 100%;
	padding-top: 20px;
}
.callback-form .form-row .input-wrap:first-child{
	padding-top: 0;
}
.callback-form input[type*=submit]{
	display: inline-block;
	width: auto;
}
.callback-form .form-buttons{
	text-align: center;
}
/*callback form end*/
/*callback container end*/

/*parents container*/
.parents-container h2{
	font-size: 16px;
	line-height: 20px;
	padding: 0 30px 35px;
}
.parents{
	display: block;
	border-top: none;
}
.parents__item{
	display: block;
	overflow: hidden;
	border-top: 1px solid #e6e6e6;
}
.parents__item>a{
	display: block;
	overflow: hidden;
	padding: 21px 30px 18px 100px;
}
.parents__item>a:hover {
	box-shadow: none;
}
.parents__item>a:before{
	content: '';
	display: inline-block;
	height: 60px;
	vertical-align: middle;
}
.parents__icon{
	position: absolute;
	left: 0;
	top: 50%;
	height: 60px;
	width: 100px;
	text-align: center;
	margin: -30px 0 0;
}
.parents__icon img{
	max-height: none;
	height: 100%;
}
.parents__title{
	max-width: none;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	width: 97%;
}
/*parents container end*/
/*contacts end*/

/*works*/
.works__list .works__item {
	display: block;
	width: auto;
}
/*works end*/
