@media only screen and (max-width: 767px){}

html.nav-opened,
html.nav-opened .wrapper{
	overflow-x: hidden;
}
html.nav-opened body{
	overflow: hidden;
	padding-right: 17px;
}
html.nav-opened body.mobile-device{
	padding-right: 0;
}
.inner-page .wrapper {
	padding: 0;
}
.content-wrap .content{
	margin-left: 0;
}

/*HEADER*/
.inner-page .header{
	position: relative;
	text-align: left;
}
.position .inner-page .header{
	z-index: 0;
}
.inner-page .header-holder{
	height: auto;
	min-height: 140px;
	padding-top: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*header options*/
.inner-page .header-options{
	z-index: 2;
	width: auto;
	left: 0;
	right: 0;
	-webkit-transition-property: transform, right;
	transition-property: transform, right;
	-webkit-transition-duration: 0.6s, 0s;
	transition-duration: 0.6s, 0s;
}
.nav-opened .inner-page .header-options{
	right: 17px;
}
.header-options__holder,
.main-page .header-options__holder{
	margin-left: 0;
}
.top-panel-show .phones{
	box-shadow: none;
}
/*header options end*/

/*button menu*/
.btn-menu{
	display: block;
}
/*button menu end*/

/*lang*/
.logo,
.main-page .logo{
	float: left;
	width: 200px;
	height: 80px;
	position: relative;
	top: auto;
}
.logo>a:before,
.logo>span:before{
	background-image: url(../img/logo-sm.png);
	-webkit-background-size: 160px;
	background-size: 160px;
}
.main-page .logo>a:before,
.main-page .logo>span:before{
	background-image: url(../img/logo-main-alt.png);
	-webkit-background-size: 160px;
	background-size: 160px;
}
/*logo end*/
/*HEADER end*/

/*MAIN NAVIGATION*/
.nav-inner-page{
	width: 0;
}
.nav-main-page{
	height: 80px;
	background: #fff;
}
.nav__holder,
.main-page .nav__holder{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
	overflow: auto;
	z-index: 9999;
	background: #008acf;
	box-shadow: 0 0 7px transparent;
	visibility: hidden;
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nav-opened .nav__holder,
.nav-opened .main-page .nav__holder{
	visibility: visible;
	box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
/*navigation scrollbar*/
.nav__holder::-webkit-scrollbar {
	width: 3px;
}
.nav__holder::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.2);
}
.nav__holder::-webkit-scrollbar-thumb {
	background: #005a8f;
}
/*navigation scrollbar end*/
.nav__holder br,
.main-page .nav__holder br{
	display: none;
}
/*MAIN NAVIGATION end*/

/*MAIN CONTENT*/

/*promo*/
.promo-holder {
	margin-right: 0;
	height: auto;
}
/*promo end*/

/*window*/
.promo .window{
	width: auto;
	height: auto;
	position: relative;
	right: auto;
	top: auto;
	margin: 0 auto;
}
.window__title {
	margin: 0 0 10px;
	height: 58px;
}
/*window end*/

/*wit*/
.wit-holder{
	margin-right: 42.7%;
}

/*meter*/
.meter{
	width: 42.7%;
}
/*meter end*/
/*wit end*/
/*MAIN CONTENT end*/

/*MAIN PAGE*/
/*HEADER FOR MAIN page*/
/*HEADER FOR MAIN page end*/

/*MAIN NAVIGATION for main page*/
.nav-main-page .nav__holder{
	margin: 0;
}
/*MAIN NAVIGATION for main page end*/
/*MAIN PAGE end*/

/*FOOTER*/
/*site map*/
.site-map__box{ width: 49.98%; }
/*site map end*/

/*footer phones*/
.ft-phones__dt,
.ft-phones__dd{
	display: block;
	width: auto;
}
/*footer phones end*/

/*footer contacts*/
/*useful links*/
.useful-links li {
	padding-top: 6px;
	padding-bottom: 8px;
}
/*useful links end*/
/*footer contacts end*/
/*FOOTER end*/
