@media only screen and (max-width: 979px){}

html.nav-opened .inner-page,
html.nav-opened .inner-page .wrapper{ overflow-x: hidden; }
html.nav-opened body.inner-page.mobile-device{ padding-right: 0; }
.inner-page .wrapper { padding: 0; }
.inner-page .content-wrap .content{ margin-left: 0; }

/*HEADER*/
.inner-page .header{
	position: relative;
	text-align: left;
	min-height: 60px;
}
.position .inner-page .header{
	z-index: 0;
}
.inner-page .header-holder{
	height: auto;
	min-height: 140px;
	padding-top: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*header options*/
.inner-page .header-options{
	z-index: 2;
	width: auto;
	left: 0;
	right: 0;
	-webkit-transition-property: transform, right;
	transition-property: transform, right;
	-webkit-transition-duration: 0.6s, 0s;
	transition-duration: 0.6s, 0s;
}
.nav-opened .inner-page .header-options{
	right: 17px;
}
.inner-page .header-options__holder{
	margin-left: 0;
}
.inner-page.top-panel-show .phones{
	box-shadow: none;
}
/*header options end*/

/*button menu*/
.inner-page .btn-menu{
	display: block;
}
/*button menu end*/

/*logo*/
.inner-page .logo{
	float: left;
	width: 200px;
	height: 80px;
	position: relative;
	top: auto;
	background: #fff;
}
.inner-page .logo>a:before,
.inner-page .logo>span:before,
.logo-reduce .logo>a:after,
.logo-reduce .logo>span:after{
	background-color: #fff;
	background-image: url(../img/logo-main-alt.png);
	-webkit-background-size: 160px;
	background-size: 160px;
}
/*logo end*/
/*HEADER end*/

.nav-inner-page{
	width: 0;
}
.inner-page .nav__holder{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
	overflow: auto;
	z-index: 9999;
	background: #008acf;
	box-shadow: 0 0 7px transparent;
	visibility: hidden;
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nav-opened .inner-page .nav__holder{
	visibility: visible;
	box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.inner-page .nav__holder br{ display: none; }
/*MAIN NAVIGATION end*/


/*MAIN CONTENT*/
/*promo*/
.promo-btn {
	right: 40px;
}

/*promo slider*/
.promo-slider__content{
	padding: 15px 20px 24px 40px;
	width: auto;
	max-width: none;
	right: 40px;
}

.promo-slider .slick-prev {
	left: 40px;
}
.promo-slider .slick-next {
	left: 90px;
}

.promo-slider .slick-dots{
	left: 35px;
}
/*promo slider end*/
/*promo end*/

/*content box*/
.columns-box__column{
	width: 24.95%;
}
.columns-box__column:nth-child(3n){
	border-left-color: #ccc;
}
/*content box end*/

/*case*/
.case__item{
	width: 24.99%;
	width: calc(24.99% + 1px);
}
/*case end*/

/*press*/
/*previews*/
.press-adt__item{
	width: 33.32%;
}
/*previews end*/
/*press end*/

/*contacts*/
.contacts {
	margin: -30px -40px 0;
}
/*contacts biz*/
.contacts__biz,
.user-content .contacts__biz{
	float: left;
	padding: 30px 0 2000px 30px;
	margin-bottom: -1970px;
}
.contacts__biz:before{
	left: 100%;
	top: -10%;
	height: 120%;
	width: 4px;
}
.contacts__biz li,
.user-content .contacts__biz li,
.user-content .contacts__biz li:first-child{
	display: block;
	padding: 0 30px 15px 0;
}
.contacts__biz li:after,
.user-content .contacts__biz li:before,
.user-content .contacts__biz li:first-child:before{
	content: none;
}
/*contacts biz end*/

/*contacts address*/
.contacts__address{
	margin-bottom: -2000px;
	padding: 30px 0 2000px;
}
.contacts-adr{
	padding: 0;
}
.contacts-adr__item{
	display: block;
	width: auto;
	padding: 0 30px 30px 0;
}
.contacts-adr__item i{
	margin: 15px 0 0;
}
.contacts-adr__item:before{
	content: none;
}
.contacts-adr__icon{
	float: left;
	width: 90px;
	text-align: center;
}
.contacts-adr__content{
	max-width: none;
	overflow: hidden;
}
/*contacts address end*/
/*contacts end*/
/*MAIN CONTENT end*/

/*FOOTER*/

/*grid*/
.footer-top .grid-col-3,
.footer-top .grid-col-6{
	width: auto;
	float: none;
	padding-top: 20px;
}
.footer-top [class*="grid-col-"]:first-child{
	padding-top: 0;
}
.grid-col-3:before, .grid-col-6:before, .grid-col-3:after, .grid-col-6:after { content: ""; display: table; }
.grid-col-3:after, .grid-col-6:after { clear: both; }
/*grid end*/

/*local map*/
.main-contacts{
	height: auto;
}
.main-map-frame,
.contacts-panel_opened .main-map-frame{
	position: relative;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.contacts-panel_opened .contacts-panel,
.contacts-panel{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.contacts-panel{
	position: relative;
	right: auto;
	top: auto;
	width: auto;
}
.contacts-panel__switcher{
	display: none;
}
/*local map end*/

/*footer top*/
.footer-top{ padding: 33px 20px; }
.footer-top:after{
	left: 20px;
	right: 20px;
}
/*footer phones*/
.ft-phones__list{
	text-align: left;
}
/*footer phones end*/

/*btn site map*/
.footer-top .switcher-col{
	padding-top: 0;
}
.map-site-switcher{
	margin-left: 0;
}
.map-site-switcher:before{
	content: none;
}
/*btn site map end*/
/*footer top end*/

/*site map*/
.site-map{
	padding: 30px 12px 0;
	margin: 0 20px;
}
.site-map__box{
	width: 33.28%;
}
/*site map end*/

/*footer contacts*/
.footer-contacts {
	padding: 30px 20px;
}

.footer-contacts .grid-col-3{
	width: 50.0%;
}
.footer-contacts .grid-col-6{
	width: 100.0%;
	float: left;
	display: block;
	clear: both;
	padding-bottom: 30px;
}
/*useful links*/
.useful-links li {
	display: inline-block;
	vertical-align: top;
	width: 49.9%;
}
/*useful links end*/
/*footer contacts end*/

/*footer social*/
.social-networks{
	padding: 15px 20px 14px;
}
/*footer social end*/

/*footer bottom*/
.footer-bottom{
	padding: 0 10px;
}
.footer-holder{
	padding: 0;
}
.footer-holder:before{
	content: none;
}
.footer-col{
	width: 49.9%;
	text-align: center;
	padding: 20px 10px;
}
.footer-col_right{
	float: none;
	display: block;
	width: auto;
	clear: both;
	padding: 20px;
	margin: 0 -10px;
	border-top: 1px solid #808080;
}
/*footer bottom end*/
/*FOOTER end*/

/*callback form*/
.callback-form{
	width: auto;
	max-width: 800px;
}
/*callback form end*/

/*widget.css*/
/*fancybox*/
.fancybox-modal{
	width: auto !important;
	left: 20px !important;
	right: 20px !important;
}
.fancybox-inner {
	width: auto !important;
}
.fancybox-close:before,
.fancybox-close:after{
	left: 5px;
	top: 15px;
}
.fancybox-close{
	width: 32px;
	height: 32px;
}
/*fancybox end*/
/*widget.css end*/