@import url(fonts.css);
@import url(normalize.css);
@import url(buttons.css);
@import url(sp.css);
@import url(widgets.css);

/*fonts*/
/*@import url(fonts.css);*/
/*fonts end*/

/*normalize*/
/*@import url(normalize.css);*/
/*normalize end*/

/*------ TYPOGRAPHIC STYLES ------*/
html{
	height: 100%;
}
body{
	font: 14px/24px Tahoma, Geneva, sans-serif;
	height: 100%;
	color: #333;
	background: #fff;
	min-width: 320px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	margin: 0;
	color: #333;
}
h1{
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 0 0 20px;
}
h2{
	font-size: 24px;
	line-height: 29px;
	padding: 0 0 23px;
}
h3{
	font-size: 20px;
	line-height: 25px;
	padding: 0 0 15px;
}
h4{
	font-size: 14px;
	line-height: 24px;
	padding: 0 0 10px;
}
h5{
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	padding: 0 0 5px;
}
h6{
	font-size: 12px;
	line-height: 14px;
	font-weight: 100;
	padding: 0 0 5px;
}
p{
	margin: 0;
	padding: 0 0 24px;
}
p::selection {
	color: #fff;
	background: #83cff0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #000;
	margin-bottom: 25px;
}
a{
	color: #008acf;
	outline: none;
	text-decoration: underline;
	cursor: default;
}
a:link{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
}
table td,
table th{
	padding: 8px;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
}
/*------ TYPOGRAPHIC STYLES end ------*/

/*sp*/
/*@import url(sp.css);*/
/*sp end*/

/*btn*/
/*@import url(buttons.css);*/

[class|="btn"],
[class*=" btn-"],
input[type="submit"],
input[type="button"],
input[type="reset"],
button{
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	text-decoration:none;
}
[class|="btn"] input[type="submit"],
[class*=" btn-"] input[type="submit"],
[class|="btn"] input[type="reset"],
[class*=" btn-"] input[type="reset"]{
	background: url("../img/empty.png") repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	border:0;
}
/*style default button*/
/*btn-default*/
.btn-default,
input[type="submit"],
input[type="button"],
input[type="reset"],
button{
	font: 18px/24px Arial, Helvetica, sans-serif;
	color: #333;
	padding: 8px 25px;
	border: 2px solid #008acf;
	background: #fff;
	-webkit-transition: color 0.2s, background 0.2s;
	transition: color 0.2s, background 0.2s;
	position: relative;
	border-radius: 3px;
}
.btn-default:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover{
	background: #008acf;
	color: #fff;
}
.btn-default:active{
	bottom: -1px;
}
/*btn-default end*/
/*btn end*/

/*USER CONTENT*/
.content-widget{
	padding: 0 0 30px;
}
.user-content *+h2,
.user-content *+h3,
.user-content *+h4,
.user-content *+h5{
	/*padding-top: 30px;*/
}
.user-content .pref{
	font: italic 18px/24px 'Times New Roman', Times, serif;
	color: #808080;
	padding: 0 0 24px;
}
.align-center{
	text-align: center;
}

/*content img*/
.img{
	border: 10px solid #fff;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}
.imgc{
	text-align: center;
	padding-bottom: 30px;
}
.imgl{
	text-align: left;
	float: left;
	margin: 0 30px 0 0;
}
.imgr{
	text-align: right;
	float: right;
	margin: 0 0 0 30px;
}
/*content img end*/

/*unordered list (UL)*/
.user-content ul{
	margin:0;
	padding: 0 0 30px;
	list-style:none;
}
.user-content ul li{
	padding: 20px 0 0 28px;
	position: relative;
}
.user-content ul li:first-child{
	padding-top: 0;
}
.user-content ul li:before{
	content: '';
	position: absolute;
	left: 0;
	top: 27px;
	height: 9px;
	width: 9px;
	background: #83cff0;
	border-radius: 9px;
}
.user-content ul li:first-child:before{
	top: 8px;
}
.user-content ul ul{
	padding: 0 0 0 25px;
}
.user-content ul ul li:before,
.user-content ul ul li:first-child:before{
	height: 3px;
	width: 9px;
	border-radius: 0;
	top: 31px;
}
.user-content ul ul li:first-child{
	padding-top: 20px;
}
/*unordered list (UL) end*/

/*ordered list (OL)*/
.user-content ol{
	counter-reset: section;
	margin: 0;
	list-style: none;
	padding: 0 0 20px;
}
.user-content ol:after{
	content: "";
	display: block;
	clear: both;
}
.user-content ol > li{
	counter-increment: section;
	height: 1%;
	overflow: hidden;
	padding: 0 0 20px 28px;
}
.user-content ol > li:before{
	display: inline-block;
	text-align: left;
	color: #83cff0;
	font-weight: bold;
	width: 28px;
	content: counter(section);
	padding: 0 5px 0 0;
	margin-left: -28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*ordered list (OL) end*/

/*table styling*/
.table-auto{
	overflow: auto;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 20px;
}
.user-content .tbl{
	margin-bottom: 20px;
	border-collapse: separate;
}
.table-auto .tbl{
	margin: 0;
}
table caption{
	caption-side: bottom;
	color: #9c9d9f;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1em;
	padding-top: 16px;
}
.user-content .tbl td,
.user-content .tbl th{
	font-size: 14px;
	line-height: 24px;
	color: #666;
	background-color: #fff;
	border: solid #ccc;
	border-width: 0 1px 1px 0;
	padding: 12px 17px;
}
.user-content .tbl tbody tr:nth-child(even) td{
	background: #f7f7f7;
}
.user-content .tbl tr:first-child td{
	border-top-width: 1px;
}
.user-content .tbl tbody td:first-child{
	border-left-width: 1px;
}
.user-content .tbl th,
.user-content .tbl thead td{
	color: #333;
	font-weight: normal;
	background: none;
	padding: 20px 12px;
	border: none;
}
.user-content .tbl tfoot td{
	background: none;
	border: none;
	color: #333;
}
/*table styling end*/

/*blockquote*/
.user-content blockquote{
	display: block;
	margin: 0;
	background-color: #f5f5f5;
	border-left: 4px solid #83cff0;
	padding: 18px 32px 28px 42px;
}
.user-content blockquote q{
	display: block;
	margin: 0;
	padding: 0 0 10px;
	font: italic 18px/24px 'Times New Roman', Times, serif;
	letter-spacing:0.05em;
	color: #808080;
}
.user-content blockquote q:before,
.user-content blockquote q:after{
	content: '';
	display: block;
	font-size: 24px;
	line-height: 28px;
}
.user-content blockquote q:before{
	content: '«';
	padding-left: 17%;
	padding-bottom: 10px;
}
.user-content blockquote q:after{
	content: '»';
	text-align: right;
	padding-right: 18.5%;
	padding-top: 8px;
}
.user-content blockquote cite{
	text-align: right;
	display: block;
	margin-left: auto;
	font: italic 20px/24px 'Times New Roman', Times, serif;
	color: #333;
}
/*blockquote end*/

/*elements form style*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
	display: block;
	color: #333;
	font: 14px/16px Tahoma, Geneva, sans-serif;
	letter-spacing: normal;
	height: 43px;
	width: 100%;
	padding: 16px 36px 15px;
	background: #f5f5f5;
	margin: 0 0 28px;
	border-radius: 2px;
	border: 1px solid #ccc;
	-webkit-transition: border 0.2s, box-shadow 0.2s, background 0.2s;
	transition: border 0.2s, box-shadow 0.2s, background 0.2s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 1px transparent, inset 0 3px 7px transparent;
}
.input-wrap input[type="text"],
.input-wrap input[type="password"],
.input-wrap input[type="email"],
.input-wrap input[type="search"],
.input-wrap textarea{
	margin: 0;
}
textarea{
	padding: 12px 13px;
	min-height: 114px;
	height: 114px;
	line-height: 16px;
	resize: vertical;
}
/*placeholder style*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input:-moz-placeholder,
textarea:-moz-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input::-moz-placeholder,
textarea::-moz-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input.placeholder,
textarea.placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
/*placeholder style end*/
/*placeholder hidden*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{ color: transparent !important; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{ color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{ color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder{ color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus{ color: transparent !important; }
/*placeholder hidden end*/
/*form focus*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus{
	background: #fff;
	box-shadow: inset 0 0 0 1px #ccc, inset 0 3px 7px rgba(0,0,0, 0.15);
}
/*form focus end*/
/*form error*/
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="search"].error,
textarea.error{
	color: #d32e2e;
	border-color: #d32e2e;
	background: #fff;
	box-shadow: inset 0 0 0 1px #d32e2e, inset 0 3px 7px rgba(211, 46, 46, 0.4);
}
input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder{ color: #d32e2e; }
input.error:-moz-placeholder,
textarea.error:-moz-placeholder{ color: #d32e2e; }
input.error::-moz-placeholder,
textarea.error::-moz-placeholder{ color: #d32e2e; opacity: 1; }
input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder{ color: #d32e2e; opacity: 1; }
input.error .placeholder,
textarea.error .placeholder{ color: #d32e2e; opacity: 1; }
/*form error end*/
/*radio and checkbox*/
input[type="radio"]{ float: left; height: 15px; width: 16px; margin: 0; padding: 0; }
input[type="checkbox"]{ width: 16px; height: 16px; padding: 0; margin: 0; }
/*radio and checkbox end*/
/*form error end*/
.form-row,
.input-wrap{ padding: 0 0 23px; }
.form-row {
	font-size: 0;
	letter-spacing: -4px;
	margin: 0 -15px;
}
.form-row .input-wrap{
	display: inline-block;
	vertical-align: top;
	width: 49.99%;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-col{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.label-holder{ padding: 0 0 9px; }
.label-holder,
label{
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.08em;
	color: #808080;
	vertical-align: top;
}
/*elements form style end*/

/*arrows*/
.arrow{
	display: block;
	width: 44px;
	height: 44px;
	text-align: center;
	border: 2px solid #008acf;
	border-radius: 3px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}
.arrow>i{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -9px 0 0 -9px;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.arrow>i[class$="-h"]{ opacity: 0; }
.arrow:hover{ background-color: #008acf; }
.arrow:hover>i[class$="-h"]{ opacity: 1; }
.arrow:hover>i[class$="-n"]{ opacity: 0; }
/*arrows end*/

/*download files items*/
/*depict files*/
[class|="depict-files"],
[class*=" depict-files-"]{
	background:url(../img/sprite-files.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-files-word{
	background-position: 0 0;
	width: 46px;
	height: 59px;
}
.depict-files-xls{
	background-position: 0 -80px ;
	width: 46px;
	height: 59px;
}
.depict-files-pdf{
	background-position: 0 -160px ;
	width: 46px;
	height: 59px;
}
/*depict files end*/

/*files item*/
.files{
	padding: 0;
}
.files-item{
	padding: 0 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.file{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 19px;
	color: #333;
	position: relative;
	min-height: 59px;
	min-width: 205px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.file__icon{
	float: right;
}
.file__info{
	height: 59px;
	text-align: center;
	margin-right: 45px;
	padding: 9px 0 0;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border 0.2s, background 0.2s;
	transition: border 0.2s, background 0.2s;
}
.file-pdf:hover .file__info{
	border-color: #e22919;
	background-color: #e22919;
}
.file-excel:hover .file__info{
	border-color: #32c869;
	background-color: #32c869;
}
.file-word:hover .file__info{
	border-color: #3289c8;
	background-color: #3289c8;
}
.file__info>div{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.file__info>div>b{
	display: block;
	font-size: 18px;
	font-weight: normal;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.file-pdf .file__info>div>b{
	color: #e22919;
}
.file-excel .file__info>div>b{
	color: #32c869;
}
.file-word .file__info>div>b{
	color: #3289c8;
}
.file:hover .file__info>div,
.file:hover .file__info>div>b{
	color: #fff;
}
/*files item end*/
/*download files items end*/
/*USER CONTENT end*/

/*MAIN BLOCKS*/
.body{
	display: table;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.body-top{
	display: table-row;
}
.body-top-holder{
	display: table-cell;
	width: 100%;
	/*height: 100%;*/
}
.body-bottom{
	display: table-footer-group;
	overflow: hidden;
	width: 100%;
}
.body-bottom-holder{
	display: table-row;
	height: 1%;
}
.wrapper{
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.header{
	position: relative;
	background: #fff;
	z-index: 3;
}
.main{
	position: relative;
	z-index: 2;
}
.main-holder{
	width: 100%;
}
.main-holder:before,
.main-holder:after { content: ""; display: table; }
.main-holder:after { clear: both; }
.content-wrap{
	float: left;
	width: 100%;
}
.content-wrap .content{
	margin: 0 0 0 320px;
	min-height: 50px;
	padding: 33px 40px;
	position: relative;
}
.content-wrap .content:before{
	content: '';
	position: absolute;
	left: -5px;
	top: -15px;
	bottom: -40px;
	width: 5px;
	background: rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.sidebar{
	position: fixed;
	top: 0;
	padding: 200px 0 0;
	width: 320px;
	height: 100%;
	background: #f7f7f7;
}
.footer{
	position: relative;
	background: #008acf;
	z-index: 3;

	display: table-cell;
}
.max-wrap{
	max-width: 1280px;
	margin: 0 auto;
}
/*MAIN BLOCKS end*/

/*HEADER*/
.header-holder{
	padding: 0 0 0 320px;
	position: relative;
	min-height: 200px;
}
.header-holder:before,
.header-holder:after { content: ""; display: table; }
.header-holder:after { clear: both; }
/*header options*/
.header-options{
	min-height: 60px;
	background: #83cff0;
	position: relative;
}
.header-options:before,
.header-options:after { content: ""; display: table; }
.header-options:after { clear: both; }

/*search form opener*/
.btn-search-open{
	float: right;
	height: 60px;
	width: 60px;
	cursor: pointer;
	text-align: center;
	position: relative;
	background: #0079b5;
}
.btn-search-open:before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	height: 20px;
	width: 0;
	margin-top: -10px;
	border-right: 1px solid #80bcda;
}
.btn-search-open i{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -8px 0 0 -8px;
}
/*search form opener end*/

/*search-form*/
.search-form{
	height: 60px;
	width: 100%;
	background: #fff;
	position: absolute;
	border: 2px solid #008acf;
	z-index: -1;
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-opened .search-form{
	opacity: 1;
	z-index: 6;
}
.search-form .input-wrapper{
	padding: 0 60px;
	position: relative;
}
.search-form input[type="search"]{
	color: #333;
	font: 18px/20px Tahoma, Geneva, sans-serif;
	letter-spacing: 0.1em;
	padding: 17px 0;
	height: 56px;
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
}
.search-form input[type="search"]::-webkit-input-placeholder{ color: #808080 !important; }
.search-form input[type="search"]:-moz-placeholder{ color: #808080 !important; }
.search-form input[type="search"]::-moz-placeholder{ color: #808080 !important; }
.search-form input[type="search"]:-ms-input-placeholder{ color: #808080 !important; }
.search-form input[type="search"].placeholder{ color: #808080 !important; }

.btn-search{
	position: absolute;
	left: 18px;
	top: 50%;
	margin-top: -12px;
	height: 24px;
	width: 24px;
	-webkit-transition: 0.2s cubic-bezier(0, 0, 0, 1);
	transition: 0.2s cubic-bezier(0, 0, 0, 1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-search:hover{
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
.btn-search:before,
.btn-search:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #008acf;
	border-radius: 1px;
	-webkit-transition: 0.4s cubic-bezier(0, 0, 0, 1);
	transition: 0.4s cubic-bezier(0, 0, 0, 1);
}
.btn-search:before{
	width: 14px;
	height: 14px;
	border-width: 2px;
	border-radius: 50%;
}
.btn-search:after{
	left: 17px;
	top: 13px;
	width: 0;
	height: 8px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn-search input[type="submit"]{
	padding: 0;
	border: none;
	background: none;
	margin: 0;
}

.btn-search-close{
	position: absolute;
	top: 50%;
	right: 16px;
	margin: -12px 0 0;
	display: block;
	width: 24px;
	height: 24px;
	font-size: 24px;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: 0.2s cubic-bezier(0, 0, 0, 1);
	transition: 0.2s cubic-bezier(0, 0, 0, 1);
}
.btn-search-close:before,
.btn-search-close:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0.45em;
	height: 2px;
	width: 22px;
	background: #008acf;
	border-radius: 5px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.btn-search-close:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn-search-close:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn-search-close:hover{
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
/*search-form end*/

/*lang*/
.lang{
	float: right;
	width: 60px;
	height: 60px;
	position: relative;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.lang-active{
	display: block;
	font: 14px/60px Tahoma, Geneva, sans-serif;
	text-decoration: none;
	text-align: center;
	color: #fffefe;
	height: 100%;
	cursor: pointer;
	background: #0079b5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 12px;
}
.lang-active:after {
	content: "";
	height: 0;
	width: 0;
	display: inline-block;
	pointer-events: none;
	border: 5px solid rgba(255, 255, 255, 0);
	border-top-color: #fff;
	position: relative;
	left: 16px;
	top: 3px;
	margin: 0 0 0 -10px;
}
.lang-list{
	position: absolute;
	left: 0;
	top: -999px;
	list-style: none;
	margin-top: -1px;
	padding: 0;
	width: 60px;
	opacity: 0;
	background: #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.lang.lang-opened .lang-list{
	top: 100%;
	opacity: 1;
}
.lang-list a{
	display: block;
	color: #fff;
	text-decoration: none;
	height: 60px;
	font-size: 14px;
	line-height: 58px;
	padding: 0 4px;
	text-align: center;
	background: #0079b5;
	border: 1px solid #0079b5;
	-webkit-transition: color 0.2s, background 0.2s;
	transition: color 0.2s, background 0.2s;
}
.lang-list a:hover{
	color: #0079b5;
	background: #fff;
}
/*lang end*/

/*login*/
.login{
	float: right;
}
.login a{
	display: block;
	height: 60px;
	font-size: 14px;
	line-height: 60px;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: #fff;
	background: #008acf;
	padding: 0 27px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login a i{ margin: 20px 6px 0 0; }
.login a .login__inner{
	border-bottom: 1px solid #fff;
	-webkit-transition: border 0.2s;
	transition: border 0.2s;
}
.login a:hover .login__inner{
	border-color: transparent;
}
/*login end*/

/*phones*/
.phones{
	overflow: hidden;
	padding-left: 8px;
	font-size: 0;
	letter-spacing: -4px;
	background: #0af;
}
.phones__container:before{
	content: '';
	display: inline-block;
	display:-moz-inline-stack;
	height: 60px;
	vertical-align: middle;
}
.phones__item{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: normal;
	color: #fff;
	width: 33.2%;
	padding-left: 34px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.phones__item.phones__opener{
	cursor: pointer;
}
.phones__label{
	display: block;
	margin: 0 0 -2px;
}
.phones__number{
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.01em;
	font-weight: normal;
}
.phones__code{
	font-size: 12px;
	font-style: normal;
}
.phones__opener .phones__label>span,
.phones__opener .phones__number>span{
	border-bottom: 1px dotted #fff;
	-webkit-transition: border 0.2s;
	transition: border 0.2s;
}
.phones__opener:hover .phones__label>span,
.phones__opener:hover .phones__number>span{
	border-color: transparent;
}
.phones-drop{
	position: absolute;
	top: 100%;
	background: #0af;
	padding: 0 0 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2;

	left: 0;
	width: 640px;
	display: none;
}
.phones-drop .phones__item{
	padding-bottom: 12px;
	padding-top: 8px;
}
/*phones end*/
/*header options end*/

/*logo*/
.logo{
	position: fixed;
	top: 0;
	width: 320px;
	height: 200px;
	text-indent: -8080809px;
	overflow: hidden;
	margin-left: -320px;
}
.logo a{
	background: #008acf url(../img/logo.png) no-repeat 50% 50%;
	display: block;
	height: 100%;
}
/*logo end*/
/*HEADER end*/

/*MAIN*/
/*page heading*/
.page-heading{
	background: #f5f5f5;
	padding: 16px 40px;
	min-height: 140px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page-heading h1{
	text-align: center;
	padding: 0;
}
/*page heading end*/

/*breadcrumbs*/
.breadcrumbs{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.1em;
	color: #808080;
	padding: 0 0 9px;
	overflow: hidden;
	list-style: none;
	margin: 0;
}
.breadcrumbs li,
.user-content .breadcrumbs li{
	padding: 0 15px 10px 20px;
	float: left;
	position: relative;
}
.breadcrumbs li:before,
.user-content .breadcrumbs li:before{
	content: '/';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
}
.breadcrumbs li:first-child{
	padding-left: 0;
	background: none;
}
.breadcrumbs li:first-child:before,
.user-content .breadcrumbs li:first-child:before{
	content: none;
}
.breadcrumbs a{
	color: #333;
	text-decoration: underline;
}
.breadcrumbs a:hover{
	text-decoration: none;
}
/*breadcrumbs end*/
/*MAIN end*/

/*SIDEBAR*/
/*main navigation*/
.nav-title,
.nav-back{
	display: none;
}
/*general styles main navigation*/
.nav__list,
.nav__list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.nav__list{
	border-top: 1px solid #0077b3;
	overflow: hidden;
}
.nav__list li{
	position: relative;
}
.nav__list li>a{
	display: block;
	position: relative;
	padding: 18px 12px 18px 40px;
	font-size: 18px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
	background: #008acf;
	-webkit-transition: color 0.3s, background 0.3s;
	transition: color 0.3s, background 0.3s;
}
.nav__list li.has-drop>a{
	padding-right: 50px;
}
.nav__list [class*="depict-icons-angle-"]{
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -4px;
	pointer-events: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav__list li.active>a>[class*="depict-icons-angle-"],
.nav__list li.current>a>[class*="depict-icons-angle-"]{
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.nav-drop,
.nav-sub-drop{
	position: relative;
	overflow: hidden;
}
.nav-drop:after,
.nav-sub-drop:after,
.nav__list>li.active:before,
.nav-drop__list>li.active:before,
.nav-sub-drop__list>li.active:before{
	content: '';
	position: absolute;
	left: -6px;
	right: -6px;
	height: 6px;
	pointer-events: none;
	z-index: 1;
}
.nav__list>li.active:before,
.nav-drop__list>li.active:before,
.nav-sub-drop__list>li.active:before{
	top: -6px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.nav-drop:after,
.nav-sub-drop:after{
	bottom: -6px;
	box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
}
/*general styles main navigation end*/

/*styles to menu level 1*/
.nav__list >li>a{
	text-transform: uppercase;
	border-bottom: 1px solid #0077b3;
}
.nav__list >li>a:hover,
.nav__list >li.active>a{
	color: #fff;
	background: #0077b3;
}
/*styles to menu level 1 end*/

/*styles to menu level 2*/
.nav-drop{ display: none; }
.current>.nav-drop{ display: block; }
.nav-drop__list>li{
	border-top: 1px solid #006699;
	position: relative;
}
.nav-drop__list>li>a{
	padding-left: 60px;
	font-size: 14px;
	text-transform: uppercase;
	background: #0077b3;
	color: #83cff0;
}
.nav-drop__list>li.has-drop>a{
	padding-right: 50px;
}
.nav-drop__list>li>a:hover,
.nav-drop__list>li.active>a,
.nav-drop__list>li.current>a{
	color: #fff;
	background: #069;
}
/*styles to menu level 2 end*/

/*styles to menu level 3*/
.nav-sub-drop{ display: none; }
.nav-sub-drop__list>li{
	border-top: 1px solid #005580;
	position: relative;
}
.nav-sub-drop__list>li>a{
	padding-left: 80px;
	font-size: 14px;
	color: #83cff0;
	background: #069;
}
.nav-sub-drop__list>li>a{
	padding-right: 50px;
}
.nav-sub-drop__list>li>a:hover,
.nav-sub-drop__list>li.active>a,
.nav-sub-drop__list>li.current>a{
	color: #fff;
	background: #005580;
}
/*styles to menu level 3 end*/
/*main navigation end*/
/*SIDEBAR end*/

/*FOOTER*/
/*grid*/
.grid-col-3,
.grid-col-6{
	float: left;
	min-height: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.grid-col-3{
	width: 25.0%;
}
.grid-col-6{
	width: 50.0%;
}
/*grid end*/

/*footer top*/
.footer-top-row{
	background: #009eed;
}
.footer-top{
	padding: 25px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.footer-top:after{
	content: '';
	position: absolute;
	left: 40px;
	right: 40px;
	bottom: 0;
	height: 0;
	border-top: 1px solid #008acf;
}

/*footer logo*/
.footer-logo{
	float: left;
	background: url(../img/logo-sm.png) no-repeat;
	width: 208px;
	height: 40px;
	text-indent: -9999px;
	overflow: hidden;
}
/*footer logo end*/

/*btn map site*/
.map-site-switcher{
	color: #fff;
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-right: 29px;
}
.map-site-text{
	border-bottom: 1px dotted #fff;
	-webkit-transition: border 0.2s;
	transition: border 0.2s;
}
.map-site-switcher:hover .map-site-text{
	border-color: transparent;
}
.map-site-btn{
	width: 15px;
	height: 12px;
	line-height: 1;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6px;
}
.map-site-btn:before,
.map-site-btn:after,
.map-site-btn>i{
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background: #fff;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.map-site-btn:before{
	content: '';
	top: 0;
}
.map-site-btn:after{
	content: '';
	bottom: 0;
}
.map-site-btn>i{
	top: 5px;
}
.active>.map-site-btn:before{
	-webkit-transform: rotate(45deg) translate(0.25em, 0.25em);
	-ms-transform: rotate(45deg) translate(0.25em, 0.25em);
	transform: rotate(45deg) translate(0.25em, 0.25em);
}
.active>.map-site-btn:after{
	-webkit-transform: rotate(-45deg) translate(0.25em, -0.25em);
	-ms-transform: rotate(-45deg) translate(0.25em, -0.25em);
	transform: rotate(-45deg) translate(0.25em, -0.25em);
}
.active>.map-site-btn>i{
	-webkit-transform: translate(-10px, 0);
	-ms-transform: translate(-10px, 0);
	transform: translate(-10px, 0);
	opacity: 0;
}
/*btn map site end*/

/*footer phones*/
.ft-phones{
	list-style: none;
	padding: 0;
	margin: 0 0 0 -12px;
	font-size: 0;
	letter-spacing: -4px;
}
.ft-phones>li{
	display: inline-block;
	vertical-align: top;
	width: 49.9%;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	letter-spacing: normal;
	padding: 0 0 10px 12px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ft-phones__dt{
	float: left;
	max-width: 40%;
	width: 132px;
	padding-right: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ft-phones__dd{
	display: block;
	overflow: hidden;
}
/*footer phones end*/
/*footer top*/

/*site map*/
.footer-site-map{
	background: #009eed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0;
	letter-spacing: -4px;
}
.site-map{
	background: #008acf;
	padding: 30px 40px 0;
	margin: 0 40px;
	display: none;
}
.site-map__box{
	width: 24.9%;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	letter-spacing: normal;
	padding: 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.site-map__title{
	display: block;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	color: #00334c;
	text-transform: uppercase;
	padding: 0 0 20px;
}

/*site map menu*/
.site-map__menu,
.site-map__menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 18px;
}
.site-map__menu li{
	position: relative;
}
.site-map__menu a{
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}
.site-map__menu a>span{
	border-bottom: 1px solid #fff;
	-webkit-transition: border 0.2s;
	transition: border 0.2s;
}
.site-map__menu a:hover>span{
	border-color: transparent;
}
.site-map__menu ul li{
	padding-left: 26px;
	padding-top: 12px;
	overflow: hidden;
}
.site-map__menu ul li:before,
.site-map__menu ul li:after{
	content: '';
	position: absolute;
}
.site-map__menu ul li:before{
	left: 2px;
	top: 20px;
	height: 0;
	width: 18px;
	border-top: 1px dotted #fff;
}
.site-map__menu ul li:after{
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	border-right: 1px dotted #fff;
}
.site-map__menu ul li:first-child:after{
	top: 2px;
}
.site-map__menu ul li:last-child:after{
	bottom: auto;
	height: 20px;
}
.site-map__menu ul li:first-child:last-child:after{
	top: 2px;
	height: 18px;
}

/*site map menu level 1*/
.site-map__menu>li{
	padding: 0 0 12px;
}
/*site map menu level 1 end*/

/*site map menu level 2*/
.site-map__menu ul{
	padding-left: 10px;
}
/*site map menu level 2 end*/
/*site map menu end*/
/*site map end*/
/*FOOTER end*/
