[class|="btn"],
[class*=" btn-"]{
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	text-decoration:none;
}
[class|="btn"] input[type="submit"],
[class*=" btn-"] input[type="submit"],
[class|="btn"] input[type="reset"],
[class*=" btn-"] input[type="reset"]{
	background: url("../img/empty.png") repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	border:0;
}

/*btn-transparent*/
.btn-transparent{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #fff;
	padding: 13px 10px;
	background: rgba(0, 138, 207, 0.87);
	min-width: 220px;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-transparent:hover{
	background: rgba(0, 138, 207, 0.97);
}
/*btn-transparent end*/

/*btn-default-alt*/
.btn-default-alt{
	font: 18px/24px Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 11px 23px;
	border: 2px solid #fff;
	background: none;
	position: relative;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.25);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: color 0.2s, background 0.2s;
	transition: color 0.2s, background 0.2s;
}
.btn-default-alt:hover{
	background: #fff;
	color: #008acf;
}
/*btn-default-alt end*/

/*btn-more*/
.btn-more{
	font: 12px/14px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #808080;
	padding: 14px 28px 13px;
	border: 2px solid #008acf;
	background: none;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: color 0.2s, background 0.2s;
	transition: color 0.2s, background 0.2s;
}
.btn-more:hover{
	background: #008acf;
	color: #fff;
}
.depict-more{
	height: 14px;
	width: 8px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 22px;
}
.depict-more:before,
.depict-more:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 14px;
	width: 8px;
	background: url(../img/sprite-icons.png) no-repeat 0 -867px;
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.depict-more:after{
	background-position: 0 -901px;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.btn-more:hover .depict-more:before{
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.btn-more:hover .depict-more:after{
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/*btn-default-alt end*/