/*icons*/
[class|="depict-icons"],
[class*=" depict-icons-"]{
	background:url(../img/sprite-icons.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-icons-arrow-prev-n{ background-position: 0 0; width: 18px; height: 18px; }
.depict-icons-arrow-prev-h{ background-position: 0 -38px; width: 18px; height: 18px; }
.depict-icons-arrow-next-n{ background-position: 0 -76px; width: 18px; height: 18px; }
.depict-icons-arrow-next-h{ background-position: 0 -114px; width: 18px; height: 18px; }
.depict-icons-user{ background-position: 0 -152px; width: 20px; height: 20px; }
.depict-icons-magnifier{ background-position: 0 -192px; width: 16px; height: 16px; }
.depict-icons-angle-btm{ background-position: 0 -228px; width: 14px; height: 8px; }
.depict-icons-angle-blue-btm{ background-position: 0 -256px; width: 14px; height: 8px; }
.depict-icons-angle-gray-btm{ background-position: 0 -284px; width: 14px; height: 8px; }
.depict-icons-angle-top{ background-position: 0 -312px; width: 14px; height: 8px; }
.depict-icons-angle-blue-top{ background-position: 0 -340px; width: 14px; height: 8px; }
.depict-icons-angle-gray-top{ background-position: 0 -368px; width: 14px; height: 8px; }
.depict-icons-pin{ background-position: 0 -396px; width: 17px; height: 19px; }
.depict-icons-pin-lg{ background-position: 0 -435px; width: 38px; height: 45px; }
.depict-icons-email{ background-position: 0 -500px; width: 18px; height: 18px; }
.depict-icons-tel{ background-position: 0 -538px; width: 18px; height: 18px; }
.depict-icons-tel-lg{ background-position: 0 -576px; width: 47px; height: 47px; }
.depict-icons-fax{ background-position: 0 -643px; width: 18px; height: 18px; }
.depict-icons-arrows-switch-r{ background-position: 0 -681px; width: 12px; height: 21px; }
.depict-icons-arrows-switch-l{ background-position: 0 -722px; width: 12px; height: 21px; }
.depict-icons-sitemap{ background-position: 0 -763px; width: 15px; height: 12px; }
.depict-icons-arrow-prev-gray{ background-position: 0 -795px; width: 16px; height: 16px; }
.depict-icons-arrow-next-gray{ background-position: 0 -831px; width: 16px; height: 16px; }
.depict-icons-arrow-more-n{ background-position: 0 -867px; width: 8px; height: 14px; }
.depict-icons-arrow-more-h{ background-position: 0 -901px; width: 8px; height: 14px; }
.depict-icons-clock-lg{ background-position: 0 -935px; width: 44px; height: 44px; }
.depict-icons-view{ background-position: 0 -999px; width: 36px; height: 30px; }
.depict-icons-pin-w{ background-position: 0 -1049px; width: 15px; height: 17px; }
.depict-icons-pin-md{ background-position: 0 -1086px; width: 26px; height: 31px; }
.depict-icons-tel-md{ background-position: 0 -1137px; width: 31px; height: 31px; }
.depict-icons-clock-md{ background-position: 0 -1188px; width: 30px; height: 30px; }
/*icons end*/

/*social icons*/
[class|="depict-soc"],
[class*=" depict-soc-"] {
	background:url(../img/sprite-social.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-soc-youtube-n{ background-position: 0 0; width: 36px; height: 36px; }
.depict-soc-youtube-h{ background-position: 0 -56px; width: 36px; height: 36px; }
.depict-soc-youtube-lg-n{ background-position: 0 -112px; width: 44px; height: 31px; }
.depict-soc-youtube-lg-h{ background-position: 0 -163px; width: 44px; height: 31px; }
.depict-soc-twitter-n{ background-position: 0 -214px; width: 36px; height: 36px; }
.depict-soc-twitter-h{ background-position: 0 -270px; width: 36px; height: 36px; }
.depict-soc-twitter-lg-n{ background-position: 0 -326px; width: 43px; height: 31px; }
.depict-soc-twitter-lg-h{ background-position: 0 -377px; width: 43px; height: 31px; }
.depict-soc-facebook-n{ background-position: 0 -428px; width: 36px; height: 36px; }
.depict-soc-facebook-h{ background-position: 0 -484px; width: 36px; height: 36px; }
.depict-soc-facebook-lg-n{ background-position: 0 -540px; width: 15px; height: 30px; }
.depict-soc-facebook-lg-h{ background-position: 0 -590px; width: 15px; height: 30px; }
/*social icons end*/