:root {
	/*--main-bg-color: #b3faf7;*/
	/*--main-bg-color-inver: #fac2bd;*/
	--main-bg-color: #fff;
	--main-bg-color-inver: #000;

	--font-size: 18px;
	--line-height: 32px;
	--font-size--small: 16px;
	--line-height--small: 28px;

	--title-font-size: 30px;
	--title-line-height: 36px;
	--sub-title-font-size: 24px;
	--sub-title-line-height: 30px;
	--item-font-size: 24px;
	--item-line-height: 30px;

	--letter-spacing: normal;

	--bottom-space-section: 30px;
	--bottom-space: 0.5em;
	--bottom-space-item: 1em;
}

/*=========== SPECIAL ===========*/
.vspec{
	/*-webkit-filter: grayscale(1);*/
	/*filter: grayscale(1);*/
}
body.vspec{
	font-size: var(--font-size);
	line-height: var(--line-height);
	/*font-family: Tahoma, Geneva, sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/*font-family: "Times New Roman", Serif;*/
	/*color: red;*/
}
body.vspec::before{
	content: none;
}
.vspec .wrapper,
.vspec .footer{
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 0;
}
.inner-page .main>.max-wrap:before{
	display: none;
}
@media only screen and (max-width: 1439px){
	.vspec .wrapper,
	.vspec .footer{
		padding-right: 0;
	}
}
@media only screen and (max-width: 480px){
	.vspec .wrapper,
	.vspec .footer{
		padding-left: 0;
	}
	.vspec .wrapper{
		padding-top: 70px;
	}
}
.vspec path,
.vspec polygon{
	fill: currentColor; !important;
}
/* font */
.vspec .btn-default,
.vspec .btn-default-alt{
	font-family: inherit;
}
.vspec p{
	letter-spacing: inherit;
}
/* bg */
.vspec input[type="text"],
.vspec input[type="password"],
.vspec input[type="email"],
.vspec input[type="search"],
.vspec textarea,
.vspec .phones,
.vspec .phones-clone,
.vspec .phones-drop,
.vspec .login a,
.vspec .btn-search-open,
.vspec .questions__item>a,
.vspec .nav-main-page .nav-drop,
.vspec .nav-main-page .nav-sub-drop,
.vspec .promo-slider__content,
.vspec .category-links li a,
.vspec .footer-contacts,
.vspec .social-networks,
.vspec .footer-holder,
.vspec .page-heading,
.vspec .nav-main-page,
.vspec .logo,
.vspec .someclass,
.vspec .someclass{
	background-color: var(--main-bg-color);
	/*background: none;*/
}
/* bg end */
/* slider reset */
.vspec .uncos-slider .slick-track,
.vspec .questions-slider .slick-track,
.vspec .promo-slider .slick-track{
	opacity: 1 !important;
	left: auto !important;
	width: auto !important;
	-webkit-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}
.vspec .uncos-slider .slick-slide,
.vspec .questions-slider .slick-slide,
.vspec .promo-slider .slick-slide{
	position: relative !important;
	width: auto !important;
	opacity: 1 !important;
	left: auto !important;
	top: auto !important;
	float: none !important;
	z-index: auto !important;
}
.vspec .uncos-slider .slick-arrow,
.vspec .questions-slider .slick-arrow,
.vspec .promo-slider .slick-arrow{
	display: none !important;
}
.vspec .uncos-slider .slick-dots,
.vspec .questions-slider .slick-dots,
.vspec .promo-slider .slick-dots{
	display: none !important;
}
/* slider reset end */

@media only screen and (min-width: 980px){
	.nav-opened .vspec .nav-overlay-page{
		display: none;
	}
}
@media only screen and (min-width: 768px){
	.nav-opened .vspec.main-page .nav-overlay-page{
		display: none;
	}
}
@media only screen and (max-width: 479px){
	.vspec .header .nav-overlay-page{
		height: calc(100% + 70px);
		top: -70px;
	}
}

.vspec.inner-page .header{
	position: relative;
	left: auto;
	top: auto;
}
.vspec .header-holder{
	height: auto;
	border-bottom: 2px solid #000;
	padding: 0;
}
@media only screen and (max-width: 979px){
	.vspec.inner-page .header-holder{
		min-height: 142px;
	}
}
.vspec .header-options__holder{
	border-bottom: 2px solid currentColor;
}
.vspec .logo{
	box-shadow: none;
	border: 0 solid currentColor;
	border-width: 0 2px 2px 0;
	box-sizing: border-box;
	height: 202px;
}
.vspec.main-page .logo{
	height: 174px;
}
@media only screen and (max-width: 979px){
	.vspec.inner-page .logo{
		height: 80px;
		border: none;
	}
}
@media only screen and (max-width: 767px){
	.vspec .logo{
		height: 80px;
		border: none;
	}
	.vspec.main-page .logo{
		height: 80px;
	}
}
.logo-reduce .vspec .logo{
	height: 200px;
}
.vspec .logo>a:before,
.vspec .logo>span:before,
.vspec .logo>a:after,
.vspec .logo>span:after{
	background-color: transparent;
}
.vspec .logo>a:before,
.vspec .logo>span:before{
	opacity: 1;
	background-image: url(../img/logo.png);
}
.vspec.inner-page .logo>a:after,
.vspec.inner-page .logo>span:after{
	opacity: 0;
}
.vspec .logo>a:after,
.vspec .logo>span:after{
	-webkit-background-size: contain;
	background-size: contain;
	width: calc(100% - 20px);
	left: 10px;
}
@media only screen and (max-width: 767px){
	.vspec .logo>a:before,
	.vspec .logo>span:before{
		opacity: 0;
	}
	.vspec .logo>a:after,
	.vspec .logo>span:after{
		opacity: 1;
	}
}
@media only screen and (max-width: 979px){
	.vspec.inner-page .logo>a:before,
	.vspec.inner-page .logo>span:before{
		opacity: 0;
	}
	.vspec.inner-page .logo>a:after,
	.vspec.inner-page .logo>span:after{
		opacity: 1;
	}
}
@media only screen and (max-width: 359px){
	.vspec .logo{
		width: 140px;
	}
}

.vspec .questions-slider{
	height: auto;
}
.vspec .questions-slider .slick-track{
	column-count: 3;
	column-gap: 2em;
}
@media only screen and (max-width: 979px){
	.vspec .questions-slider .slick-track{
		column-count: 2;
		column-gap: 1.5em;
	}
}
@media only screen and (max-width: 767px){
	.vspec .questions-slider .slick-track{
		column-count: 1;
	}
}
.vspec .questions__item{
	margin-bottom: var(--bottom-space-item);
	display: inline-block;
}
.vspec .questions__item:last-child{
	margin-bottom: 0;
}
.vspec .questions__item>a{
	display: inline;
	font-size: var(--item-font-size);
	line-height: var(--item-line-height);
	letter-spacing: inherit;
	padding: 0;
	min-height: 0;
	text-decoration: underline;
}
.vspec .questions__item>a:hover{
	text-decoration: none;
}
.vspec .questions__item .questions__icon{
	display: none;
}
.vspec .questions__item .questions__text{
	display: inline;
	letter-spacing: inherit;
	width: auto;
	padding: 0;
	margin-bottom: 0.5em;
	text-align: left;
}
body.vspec:not(.mobile-device) .btn-default-alt:hover{
	border-color: var(--main-bg-color);
	color: inherit;
}

.vspec .phones{
	box-sizing: border-box;
	box-shadow: none;
}
.vspec .phs__list>.phs__item:before{
	border-color: #000;
}
.vspec .phs__list>.phs__item>.phs__btn,
.vspec .phones-clone>.phs-clone__btn{
	border: 2px solid transparent;
}
.vspec .phs__container>.phs__list>.phs__item:hover>.phs__btn,
.vspec .phs__container>.phs__list>.phs__item.show-drop>.phs__btn,
.vspec .phones-clone:hover>.phs-clone__btn,
.vspec .phones-clone.show-drop>.phs-clone__btn{
	border-color: currentColor;
}

.vspec .header-options{
	position: relative;
	left: auto;
	top: auto;
}

.vspec.inner-page .header-options{
	-webkit-transform: translateZ(0) translateY(0);
	-ms-transform: translateZ(0) translateY(0);
	transform: translateZ(0) translateY(0);
}

.vspec .page-heading{
	border-bottom: 2px solid currentColor;
	box-sizing: border-box;
}
@media only screen and (max-width: 979px){
	.vspec .page-heading{
		min-height: 0;
		border: none;
	}
}

.vspec .phs__container>.phs__list>.phs__item>.phones-drop,
.vspec .phones-clone>.phones-drop{
	border: 2px solid #000;
}
.vspec .phs__btn,
.vspec .phs-clone__btn{
	color: inherit;
	cursor: pointer;
}
.vspec .phs__item_opener .phs__number .txt-inner{
	border-color: currentColor;
	border: none;
}
.vspec .show-drop .phs__btn,
.no-js .vspec  .phs__item:hover .phs__btn,
.vspec .show-drop .phs-clone__btn{
	background-color: var(--main-bg-color);
}
.vspec .phones-drop .phs__item{
	color: inherit;
}
.vspec .login a:after{
	border-color: currentColor;
}
.vspec .login a .login__inner{
	border: none;
	text-decoration: underline;
}
.vspec .login a:hover .login__inner{
	text-decoration: none;
}
.vspec .search-form{
	border-color: #000;
	height: 62px;
	width: calc(100% + 2px);
	left: -2px;
}
@media only screen and (max-width: 479px){
	.vspec .search-form{
		width: 100%;
		left: 0;
	}
}
.vspec .search-form input[type="search"],
.vspec .search-form input[type="text"]{
	font-size: 20px;
	line-height: 26px;
	padding: 14px 0 18px;
	height: 60px;
	color: inherit;
	border: none;
	background: transparent;
	font-family: inherit;
}
.vspec .search-form .btn-search input{
	background: transparent;
}
.vspec .btn-search:before,
.vspec .btn-search:after{
	border-color: #000;
}

.logo-reduce.vspec .nav{
	margin-top: 140px;
}
.vspec .nav-main-page{
	/*height: 112px;*/
}
.vspec .nav__list{
	border-color: #000;
}
.vspec .nav__list li,
.vspec .nav__list li>a{
	border-color: #000;
}
.vspec .nav__list li>a,
.vspec .nav__list li.hover>a,
.vspec .nav__list li>a:hover,
.vspec .nav__list li.active>a{
	background-color: var(--main-bg-color);
	color: #000;
}
.vspec .nav__list li.current>a{
	background-color: var(--main-bg-color-inver);
	color: var(--main-bg-color);
}
.vspec .nav__list li.current>a>.depict-icons-angle-btm{
	-webkit-filter: grayscale(1) contrast(10);
	filter: grayscale(1) contrast(10);
}
@media only screen and (min-width: 768px){
	.vspec .nav-main-page .nav__list>li>a{
		color: inherit;
		border: 2px solid transparent;
	}
	.vspec .nav-main-page .nav__list>li>a{
		/*height: 100%;*/
	}
	.vspec .nav-main-page .nav__list>li.hover>a{
		color: inherit;
		border-color: inherit;
	}
	.vspec .nav-main-page .nav-drop,
	.vspec .nav-main-page .nav-sub-drop{
		border: 2px solid #000;
	}
}
@media only screen and (max-width: 767px){
	.vspec .nav-main-page .nav__list{
		border-bottom: 1px solid #000;
	}
	.vspec .nav-main-page .nav__list>li{
		border-top: 1px solid #000;
	}
}
/*.vspec .nav-main-page .nav__list>li>a>[class*="depict-icons-angle-"],
.vspec .nav-cloned .nav__list>li>a>[class*="depict-icons-angle-"],
.vspec .nav-main-page .nav__list>li.hover>a>[class*="depict-icons-angle-"],
.no-js .vspec .nav-main-page .nav__list>li:hover>a>[class*="depict-icons-angle-"]{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
@media only screen and (min-width: 768px){
	.vspec .nav-main-page .nav-drop__list [class*="depict-icons-angle-"]:before,
	.vspec .nav-main-page .nav-drop__list li.active>a>[class*="depict-icons-angle-"]:before,
	.vspec .nav-main-page .nav-drop__list li.current>a>[class*="depict-icons-angle-"]:before,
	.vspec .nav-main-page .nav-drop__list li.hover>a>[class*="depict-icons-angle-"]:before,
	.no-js .vspec .nav-main-page .nav-drop__list li:hover>a>[class*="depict-icons-angle-"]:before,
	.vspec .nav-main-page .nav-drop__list li.active>a>[class*="depict-icons-angle-"]:before,
	.vspec .nav-main-page .nav-drop__list li.current>a>[class*="depict-icons-angle-"]:before {
		border-left-color: currentColor;
	}
}*/
.vspec .nav-main-page .nav-drop__list>li>a{
	background-color: var(--main-bg-color);
	color: inherit;
}
.vspec .nav-main-page .nav-drop__list>li>a:hover{
	text-decoration: underline;
}
.vspec .nav-main-page .nav-drop__list>li.hover>a,
.no-js .vspec .nav-main-page .nav-drop__list>li:hover>a,
.vspec .nav-main-page .nav-drop__list>li.active>a,
.vspec .nav-main-page .nav-drop__list>li.current>a,
.vspec .nav-main-page .nav-sub-drop__list>li>a{
	background-color: var(--main-bg-color);
	color: inherit;
}
.vspec .btn-menu,
.vspec .nav-cloned__btn-inner{
	color: inherit;
	-webkit-transition: none;
	transition: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.vspec .btn-menu.active{
	color: white;
}
.vspec .btn-lines > span{
	background-color: currentColor;
}
.vspec .btn-lines,
.vspec .btn-lines > span{
	-webkit-transition: none;
	transition: none;
}

@media only screen and (min-width: 768px){
	.vspec .nav-cloned>.nav-cloned__btn{
		background-color: var(--main-bg-color);
		color: inherit;
	}
}
@media only screen and (min-width: 980px){
	.vspec.inner-page .nav__holder{
		position: relative !important;
		top: auto !important;
		bottom: auto !important;
		border: 0 solid #000;
		box-sizing: border-box;
		-webkit-transition: none;
		transition: none;
	}
}
.vspec.main-page .nav__holder{
	/*border-width: 2px 0 0 2px;*/
}
.vspec .nav-drop:after,
.vspec .nav-sub-drop:after,
.vspec .nav__list li:before{
	content: none;
}

@media only screen and (max-width: 767px){
	.vspec.main-page .nav__holder{
		background-color: var(--main-bg-color);
	}
	.vspec .nav-drop__list>li,
	.vspec .nav-sub-drop__list>li{
		border-top-color: #000;
	}
}
@media only screen and (max-width: 979px){
	.vspec.inner-page .nav__holder{
		background-color: var(--main-bg-color);
	}
}
.vspec .nav-inner-page .nav__list{
	border: 0 solid currentColor;
	border-bottom-width: 2px;
}
@media only screen and (min-width: 979px){
	.vspec .nav-inner-page .nav__list{
		border-right-width: 2px;
		box-sizing: border-box;
	}
}

.vspec .nav__list >li>a{
	border: none;
}
.vspec .nav-inner-page .nav__list >li>a{
	/*border-bottom: none;*/
}
.vspec .nav-inner-page .nav__list>li{
	border-top: 1px solid #000;
}
.vspec .nav__list>li:first-child{
	border-top: none;
}

.vspec .btn-search-close:before,
.vspec .btn-search-close:after{
	background-color: currentColor;
}

.vspec .promo-slider{
	height: auto;
}
.vspec .promo-slider::before{
	content: none;
}
.vspec .promo-slider__item{
	margin-bottom: var(--bottom-space-item);
}
.vspec .promo-slider__bg{
	display: none;
}
.vspec .promo-slider__content{
	position: relative;
	left: auto;
	top: auto;
	bottom: auto;
	right: auto;
	padding: 0;
	max-width: none;
	width: auto;
}
.vspec .promo-slider__content::after{
	content: none;
}
.vspec .promo-slider__title{
	font-size: var(--item-font-size);
	line-height: var(--item-line-height);
	letter-spacing: inherit;
	font-weight: normal;
	text-transform: none;
	padding: 0;
	margin-bottom: var(--bottom-space);
}
.vspec .promo-slider__title a{
	border: none;
	text-decoration: underline;
	padding: 0;
}
.vspec .promo-slider__title a:hover{
	text-decoration: none;
}
.vspec .promo-slider__text{
	font-size: var(--font-size);
	line-height: var(--line-height);
	letter-spacing: inherit;
	color: #000;
	max-height: none;
}

.vspec .promo-btn{
	position: relative;
	right: auto;
	left: auto;
	bottom: auto;
	text-align: left;
}
.vspec .promo-btn a{
	padding: 0;
	background: none;
	color: inherit;
	font-size: var(--item-font-size);
	line-height: var(--item-line-height);
	text-decoration: underline;
	border: none;
	-webkit-transition: none;
	transition: none;
}
.vspec .promo-btn a:hover{
	text-decoration: none;
}

.vspec .category-links{
	border: 1px solid #000;
}
.vspec .category-links li a{
	color: inherit;
	border: 1px solid #000;
	box-sizing: border-box;
}

.vspec .window,
.vspec .wit-holder,
.vspec .promo-holder,
.vspec .questions{
	position: relative;
	right: auto;
	top: auto;
	background: none;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 30px;
	width: auto;
	text-align: left;
	height: auto;
}
.vspec .window,
.vspec .questions{
	padding-top: 30px;
}
.vspec .window:before{
	content: none;
}
.vspec .window__title,
.vspec .uncos-title{
	height: auto;
	margin: 0 0 var(--bottom-space);
	font-size: var(--sub-title-font-size);
	line-height: var(--sub-title-line-height);
	letter-spacing: inherit;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
}
.vspec .window__btns{
	padding: 0;
	margin: 0 0 var(--bottom-space-item);
	font-size: var(--item-font-size);
	line-height: var(--item-line-height);
	letter-spacing: inherit;
}
.vspec .window__btns>div{
	padding: 0;
	margin-bottom: var(--bottom-space);
}
.vspec .window__btns>div>a{
	padding: 0;
}
.vspec .btn-transparent{
	min-width: 0;
	text-decoration: underline;
	font-size: inherit;
	line-height: inherit;
}
.vspec .btn-transparent:hover {
	box-shadow: none;
	top: auto;
	text-decoration: none;
}
.vspec .window__works {
	position: relative;
	bottom: auto;
	left: auto;
	width: auto;
	font-size: var(--font-size--small);
	line-height: var(--line-height--small);
	letter-spacing: inherit;
}
.vspec .window__works>a {
	text-decoration: underline;
	border: none;
}
.vspec .window__works>a:hover {
	text-decoration: none;
}

.vspec .meter{
	display: none;
}
.vspec .uncos{
	padding: 0;
}
.vspec .uncos-slider{
	margin: 0;
	height: auto;
	padding: 0;
}
.vspec .uncos-slider .slick-list:before,
.vspec .uncos-slider .slick-list:after{
	display: none;
}
.vspec .uncos-item{
	padding: 0;
	margin-bottom: var(--bottom-space-item);
}
.vspec .uncos-item:after{
	display: none;
}
.vspec .uncos-item__title{
	padding: 0;
	margin-bottom: var(--bottom-space);
	font-size: var(--item-font-size);
	line-height: var(--item-line-height);
	letter-spacing: inherit;
}
.vspec .uncos-item__title a{
	border: none;
	text-decoration: underline;
}
.vspec .uncos-item__title a:hover{
	text-decoration: none;
}
.vspec .uncos-item__time{
	color: inherit;
	padding: 0;
	font-size: var(--font-size--small);
	line-height: var(--line-height--small);
	margin-bottom: var(--bottom-space);
}
.vspec .uncos-item__text {
	font-size: var(--font-size);
	line-height: var(--line-height);
	letter-spacing: inherit;
}
.vspec .uncos-footer{
	border: none;
	padding: 0;
	text-align: left;
}
.vspec .all-link{
	font-size: var(--item-font-size);
	line-height: var(--item-line-height);
	letter-spacing: inherit;
	border: none;
	text-decoration: underline;
}
.vspec .all-link:hover{
	text-decoration: none;
}

.vspec .footer .max-wrap{
	border-top: 2px solid currentColor;
}
.vspec .footer-contacts{
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
	font-size: var(--font-size--small);
	line-height: var(--line-height--small);
	text-align: left;
}
.vspec .footer-contacts>div:after{
	content: none;
}
.footer-contacts .grid-col-3{
	letter-spacing: var(--letter-spacing);
	text-align: left;
}
@media only screen and (max-width: 979px){
	.footer-contacts .grid-col-3{
		display: block;
		width: auto;
		font-size: inherit;
		line-height: inherit;
		padding: 0;
		margin-bottom: var(--bottom-space-item);
	}
	.footer-contacts .grid-col-3:last-child{
		margin-bottom: 0;
	}
}
.vspec .footer-contacts__title{
	padding: 0;
	font-size: var(--font-size);
	line-height: var(--line-height);
	letter-spacing: inherit;
	margin-bottom: var(--bottom-space);
	width: auto;
}
.vspec .useful-links{
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}
.vspec .useful-links li{
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	padding: 0;
	margin-bottom: 0;
}
.vspec .useful-links li::before{
	content: none;
}
.vspec .useful-links a{
	text-decoration: underline;
	letter-spacing: inherit;
}
.vspec .useful-links a:hover{
	text-decoration: none;
}
.vspec .useful-links__icon{
	display: none;
}
.vspec .useful-links__text{
	display: inline;
	vertical-align: baseline;
	font-size: inherit;
	line-height: inherit;
	text-transform: none;
}
.vspec .useful-links__text>span{
	border: none;
}
.vspec .work-list{
	color: inherit;
}
.vspec .address{
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}
.vspec .useful-links,
.vspec .work-list,
.vspec .address{
	width: auto;
	float: none;
	left: auto;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.vspec .road{
	display: none;
}
.vspec .footer-map-row{
	display: none;
}
.vspec .map-site-switcher{
	color: inherit;
}
.vspec .map-site-btn:before,
.vspec .map-site-btn:after,
.vspec .map-site-btn>i{
	color: inherit;
	background-color: currentColor;
}
.vspec .map-site-btn{
	width: 14px;
	height: 14px;
}
.vspec .map-site-btn>i {
	top: 6px;
}
.vspec .map-site-text{
	border: none;
	text-decoration: underline;
}
.vspec .map-site-switcher:hover .map-site-text{
	border: none;
	text-decoration: none;
}
.vspec .site-map{
	color: inherit;
	background-color: var(--main-bg-color);
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 2px solid #000;
	border-bottom: none;
}
.vspec .site-map__menu ul li:before{
	border-top: 1px solid #000;
}
.vspec .site-map__menu ul li:after{
	border-right: 1px solid #000;
}
.vspec .site-map__menu a{
	text-decoration: underline;
}
.vspec .site-map__menu a:hover{
	text-decoration: none;
}
.vspec .site-map__menu a>span{
	border: none;
}
.vspec .site-map-close{
	color: inherit;
	text-decoration: underline;
	font-size: 18px;
	line-height: 20px;
}
.vspec .site-map-close:hover{
	text-decoration: none;
}
.vspec .site-map-close:before,
.vspec .site-map-close:after{
	color: inherit;
	background-color: currentColor;
	top: 10px;
}
.vspec .site-map-close>span{
	border: none;
}

.vspec .footer-holder{
	border-top: 2px solid currentColor;
	padding-top: 0;
	padding-bottom: 0;
	color: inherit;
}
@media only screen and (max-width: 979px){
	.vspec .footer-holder{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.vspec .footer-col{
	font-size: var(--font-size--small);
	line-height: var(--line-height--small);
	letter-spacing: var(--letter-spacing);
}
@media only screen and (max-width: 979px){
	.vspec .footer-col{
		display: block;
		width: auto;
		padding: 0;
		border: none;
		margin: 0 0 var(--bottom-space);
		text-align: left;
	}
	.vspec .footer-col:last-child{
		margin-bottom: 0;
	}
}

.vspec .social-networks{
	border-top: 2px solid currentColor;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: var(--font-size);
	line-height: var(--line-height);
	letter-spacing: inherit;
}
@media only screen and (max-width: 979px){
	.vspec .social-networks{
		text-align: left;
	}
}
.vspec .social-networks li{
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}
@media only screen and (max-width: 979px){
	.vspec .social-networks li{
		padding-left: 0;
	}
}
.vspec .social-networks a{
	background: none;
	width: auto;
	height: auto;
	border-radius: 0;
	line-height: inherit;
	letter-spacing: inherit;
	text-decoration: underline;
}
.vspec .social-networks a:hover{
	text-decoration: none;
}
.vspec .social-networks a::before{
	content: none;
}
.vspec .social-networks a>span{
	left: auto;
	top: auto;
	position: relative;
}
.vspec .social-networks a>i{
	display: none;
}

.vspec .footer-bottom{
	padding: 0;
}
.vspec .footer-bottom a{
	border: none;
	text-decoration: underline;
}
.vspec .footer-bottom a:hover{
	text-decoration: none;
}
.vspec .site-developer_logo{
	background: none;
	color: inherit;
	text-indent: 0;
	font-size: inherit;
	line-height: inherit;
	width: auto;
	height: auto;
	display: inline;
	vertical-align: baseline;
}
.vspec .site-developer a{
	text-decoration: underline;
}
.vspec .site-developer a:hover{
	text-decoration: none;
}
.vspec .site-developer .text-inner{
	border: none;
}

.vspec .back-to-top.btn-show{
	box-sizing: border-box;
	box-shadow: 0 0 0 2px #000;
}
.vspec .content-box__caption,
.vspec .columns-box__column{
	border-color: currentColor;
}
.content-box__caption h2{
	letter-spacing: inherit;
}

.vspec .years-slider,
.vspec .years-sldr__item{
	border-color: currentColor;
}
.vspec .years-sldr__item>span{
	color: inherit;
}
.vspec .years-sldr__item>span:hover,
.vspec .years-sldr__item.slide-current>span{
	box-shadow: inset 0 0 0 1px currentColor, 0 0 0 1px currentColor;
}

.vspec .case__photo-card{
	border-color: currentColor;
}
.vspec .case__photo-card:hover,
.vspec .case__contacts-card:hover {
	border-color: currentColor;
	box-shadow: inset 0 0 0 1px currentColor;
}
.vspec .contacts-card__caption:after{
	border-color: currentColor;
}
.vspec .contacts-card__post,
.vspec .photo-card__post,
.vspec .photo-card__switcher>span:hover,
.vspec .photo-card__name a:hover{
	color: inherit;
}

.vspec .glance{
	border: 1px solid currentColor;
}
.vspec .glance__box{
	background: none;
	color: inherit;
	border: 1px solid currentColor;
}
.vspec .glance__box:before,
.vspec .glance__box:after{
	content: none;
}
.vspec .glance__unit:after{
	border-color: currentColor;
}
.vspec .glance__count,
.vspec .glance__unit,
.vspec .glance__text{
	color: inherit;
}

.main-contacts,
.local-map{
	height: 595px;
}
.vspec .main-contacts{
	border-bottom: 2px solid currentColor;
}
.vspec .contacts-panel__switcher{
	background-color: currentColor;
}
.vspec .contacts-panel__list,
.vspec .contacts-panel__phones{
	color: inherit;
}
/*.vspec .contacts-panel h4,
.vspec .contacts-panel__list li{
	letter-spacing: inherit;
}
.vspec .cont-dt,
.vspec .cont-dd{
	letter-spacing: var(--letter-spacing);
}*/

/* layout spaces */
.vspec .content,
.vspec .page-heading,
.vspec .window,
.vspec .wit-holder,
.vspec .promo-holder,
.vspec .footer-contacts,
.vspec .social-networks,
.vspec .footer-holder,
.vspec .site-map,
.vspec .questions{
	padding-left: 40px;
	padding-right: 40px;
}
.page-heading{
	margin-left: -40px;
	margin-right: -40px;
}
@media only screen and (max-width: 639px){
	.vspec .content,
	.vspec .page-heading,
	.vspec .window,
	.vspec .wit-holder,
	.vspec .promo-holder,
	.vspec .footer-contacts,
	.vspec .social-networks,
	.vspec .footer-holder,
	.vspec .site-map,
	.vspec .questions{
		padding-left: 30px;
		padding-right: 30px;
	}
	.page-heading{
		margin-left: -30px;
		margin-right: -30px;
	}
}
@media only screen and (max-width: 479px){
	.vspec .content,
	.vspec .page-heading,
	.vspec .window,
	.vspec .wit-holder,
	.vspec .promo-holder,
	.vspec .footer-contacts,
	.vspec .social-networks,
	.vspec .footer-holder,
	.vspec .site-map,
	.vspec .questions{
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-heading{
		margin-left: -15px;
		margin-right: -15px;
	}
}
/* layout spaces end */
/*=========== SPECIAL end ===========*/

/*=========== BLACK AND WHITE scheme ===========*/
.vspec {
	/*background-color: var(--main-bg-color);*/
	background-color: #fff;
	color: currentColor;
}
.vspec h1, .vspec h2, .vspec h3, .vspec h4, .vspec h5, .vspec h6 {
	color: currentColor;
}
.vspec table td, .vspec table th {
	color: currentColor;
	border-color: currentColor;
}
.vspec hr {
	border-bottom-color: currentColor;
}
.vspec .mark {
	color: var(--main-bg-color);
	background-color: currentColor;
}
.vspec a,
.vspec .dark-text,
.vspec .dark-text-light,
.vspec .text-color-alt {
	color: currentColor;
}
.vspec .user-content ul > li::before {
	background-color: currentColor;
}
.vspec .user-content ol > li::before {
	color: currentColor;
}
.vspec .user-content .tbl td,
.vspec .user-content .tbl th,
.vspec .user-content .tbl th,
.vspec .user-content .tbl thead td,
.vspec .user-content .tbl tfoot td {
	color: currentColor;
	background-color: var(--main-bg-color);
	border: 1px solid currentColor;
}
.vspec .user-content blockquote{
	border: 2px solid currentColor;
	background-color: transparent;
}
.vspec .user-content blockquote q,
.vspec .user-content blockquote cite {
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	color: currentColor;
}
.vspec .user-content blockquote q::before,
.vspec .user-content blockquote q::after {
	background-image: none;
}
.vspec .user-content .pref{
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	color: currentColor;
}
.vspec .input-wrap{
	font-size: var(--font-size);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.vspec input[type="text"],
.vspec input[type="password"],
.vspec input[type="email"],
.vspec input[type="search"],
.vspec textarea{
	font-family: inherit;
	box-shadow: none;
	height: 50px;
	font-size: var(--font-size);
	line-height: 30px;
	color: inherit;
	padding: 8px 15px;
	border: 2px solid #000;
}
.vspec input[type="text"].error,
.vspec input[type="password"].error,
.vspec input[type="email"].error,
.vspec input[type="search"].error,
.vspec textarea.error{
	border-color: #000;
	box-shadow: none;
	color: inherit;
}
.vspec .btn-default,
.vspec input[type="submit"],
.vspec input[type="button"],
.vspec input[type="reset"],
.vspec button{
	font-family: inherit;
	border-color: #000;
	background-color: var(--main-bg-color);
	-webkit-transition: none;
	transition: none;
}
.vspec .btn-default:hover,
.vspec input[type="submit"]:hover,
.vspec input[type="button"]:hover,
.vspec input[type="reset"]:hover,
.vspec button{
	border-color: #000;
	background-color: #000;
	color: var(--main-bg-color);
}
.vspec input[type="text"]:focus,
.vspec input[type="password"]:focus,
.vspec input[type="email"]:focus,
.vspec input[type="search"]:focus,
.vspec textarea:focus{
	box-shadow: none;
}
.vspec .label-holder,
.vspec label{
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}
.vspec .arrow,
.vspec .slider-typography .slick-prev,
.vspec .slider-typography .slick-next{
	-webkit-filter: grayscale(1) contrast(1) invert(1);
	filter: grayscale(1) contrast(1) invert(1);
}
.vspec .arrow,
.vspec .arrow>i,
.vspec .slider-typography .slick-prev,
.vspec .slider-typography .slick-next,
.vspec .slider-typography .slick-prev:before,
.vspec .slider-typography .slick-next:before,
.vspec .slider-typography .slick-prev:after,
.vspec .slider-typography .slick-next:after{
	-webkit-transition: none;
	transition: none;
}
.vspec .img-group__item.video-preview a.img:before{
	background-color: #000;
}
.vspec .img,
.vspec .img-group__item.video-preview .img{
	box-shadow: 0 0 0 2px #000;
	-webkit-transition: none;
	transition: none;
}
.vspec .img:hover,
.vspec .img-group__item.video-preview .img:hover{
	box-shadow: 0 0 0 4px #000;
}
/*=========== BLACK AND WHITE scheme end ===========*/

/*=========== BLACK AND WHITE images ===========*/
.vspec .phs__btn.phs__item_opener .phs__number:after,
.vspec .phs-clone__btn.phs__item_opener .phs__number:after,
.vspec .nav-inner-page .depict-icons-angle-btm,
.vspec .questions__icon img,
.vspec .questions-slider .slick-arrow:before,
.vspec .depict-icons-user,
.vspec .depict-icons-magnifier,
.vspec .category-links__icon,
.vspec .tel__services a:after,
.vspec .depict-icons-pin-w,
.vspec .logo>a:before,
.vspec .logo>span:before,
.vspec .logo>a:after,
.vspec .logo>span:after,
.vspec .someclass,
.vspec .someclass {
	-webkit-filter: grayscale(1) contrast(3) invert(1);
	filter: grayscale(1) contrast(3) invert(1);
}
.vspec .back-to-top>i,
.vspec .contacts-panel__list li [class*="depict-"],
.vspec .someclass,
.vspec .someclass {
	-webkit-filter: grayscale(1) contrast(5);
	filter: grayscale(1) contrast(5);
}

.vspec img,
.vspec .history-sldr__item.slide-current img,
/*.vspec.main-page .logo>a:before,*/
/*.vspec.main-page .logo>span:before,*/
.vspec .file,
.vspec .someclass,
.vspec .someclass{
	-webkit-filter: grayscale(1) contrast(1) invert(0);
	filter: grayscale(1) contrast(1) invert(0);
}

.vspec .depict-icons-arrow-prev-n,
.vspec .depict-icons-arrow-next-n{
	-webkit-filter: grayscale(1) contrast(10) invert(1);
	filter: grayscale(1) contrast(10) invert(1);
}

@media only screen and (max-width: 767px){
	.vspec .nav__list .depict-icons-angle-btm{
		-webkit-filter: grayscale(1) contrast(3) invert(1);
		filter: grayscale(1) contrast(3) invert(1);
	}
}
/*=========== BLACK AND WHITE images end ===========*/