/**
	--- WIDGETS CONTAINS --- 

	slick slider;
	fancybox;
*/

/**--- Slick slider ---*/
/*slick.css*/
/* Slider */
.slick-slider{
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus{
	outline: none;
}
.slick-list.dragging{
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after{
	display: table;
	content: '';
}
.slick-track:after{
	clear: both;
}
.slick-loading .slick-track{
	visibility: hidden;
}
.slick-slide{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide{
	float: right;
}
.slick-slide img{
	display: block;
}
.slick-slide.slick-loading img{
	display: none;
}
.slick-slide.dragging img{
	pointer-events: none;
}
.slick-initialized .slick-slide{
	display: block;
}
.slick-loading .slick-slide{
	visibility: hidden;
}
.slick-vertical .slick-slide{
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
	display: none;
}
/*slick.css end*/
/*slick-theme.css*/

/* Slider */
.slick-loading .slick-list{
	background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face{
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/slick-font/slick.eot');
	src: url('../fonts/slick-font/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick-font/slick.woff') format('woff'), url('../fonts/slick-font/slick.ttf') format('truetype'), url('../fonts/slick-font/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next{
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	margin-top: -10px \9; /*lte IE 8*/
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{
	color: transparent;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{
	opacity: .25;
}
.slick-prev:before,
.slick-next:before{
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev{
	left: -25px;
}
[dir='rtl'] .slick-prev{
	right: -25px;
	left: auto;
}
.slick-prev:before{
	content: '←';
}
[dir='rtl'] .slick-prev:before{
	content: '←';
}
.slick-next{
	right: -25px;
}
[dir='rtl'] .slick-next{
	right: auto;
	left: -25px;
}
.slick-next:before{
	content: '→';
}
[dir='rtl'] .slick-next:before{
	content: '→';
}
/* Dots */
.slick-slider{
	margin-bottom: 30px;
}
.slick-dots{
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li,
.user-content .slick-dots li{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.user-content .slick-dots li:before{
	content: none;
}
.slick-dots li button{
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
	opacity: 1;
}
.slick-dots li button:before{
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
	opacity: .75;
	color: black;
}
/*slick-theme.css end*/
/*--- slick slider end ---*/

/*--- fancybox ---*/
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}
.fancybox-wrap{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}
.fancybox-skin{
	position: relative;
	background: #fff;
	color: #444;
	text-shadow: none;
	border-radius: 4px;
}
.fancybox-opened{
	z-index: 8010;
}
.fancybox-opened .fancybox-skin{
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner{
	position: relative;
}
.fancybox-inner{
	overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner{
	-webkit-overflow-scrolling: touch;
}
.fancybox-error{
	color: #444;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}
.fancybox-image, .fancybox-iframe{
	display: block;
	width: 100%;
	height: 100%;
}
.fancybox-image{
	max-width: 100%;
	max-height: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{
	background-image: url('../img/fancybox/fancybox_sprite.png');
}
#fancybox-loading{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}
#fancybox-loading div{
	width: 44px;
	height: 44px;
	background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close{
	position: absolute;
	width: 20px;
	height: 20px;
	right: 10px;
	top: 10px;
	background: none;
	cursor: pointer;
	z-index: 8040;
}
.fancybox-close:before,
.fancybox-close:after{
	content: '';
	position: absolute;
	left: -1px;
	top: 9px;
	height: 2px;
	width: 22px;
	border-right: 1px;
	background: #808080;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}
.fancybox-close:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.fancybox-close:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.fancybox-close:before,
.fancybox-close:after{
	background: #333;
}

.fancybox-nav{
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 8040;
}
.fancybox-prev{
	left: 0;
}
.fancybox-next{
	right: 0;
}
.fancybox-nav span{
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}
.fancybox-prev span{
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span{
	right: 10px;
	background-position: 0 -72px;
}
.fancybox-nav:hover span{
	visibility: visible;
}

/*fancybox gallery popup nav*/
.fancybox-custom-btn{
	height: 100%;
	width: 70px;
	position: fixed;
	top: 0;
	z-index: 8020;
	cursor: pointer;
	display: none;
}
.fancybox-custom-prev{
	left: 0;
}
.fancybox-custom-next{
	right: 0;
}
.fancybox-custom-prev span,
.fancybox-custom-next span{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	background: rgba(0, 0, 0, 0.38);
	border-radius: 0;
	border: 2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border 0.2s, background 0.2s;
	transition: border 0.2s, background 0.2s;
}
.fancybox-custom-prev  span{
	left: 10px;
}
.fancybox-custom-next span{
	right: 10px;
}
body:not(.mobile-device) .fancybox-custom-prev span:hover,
body:not(.mobile-device) .fancybox-custom-next span:hover{
	background: #fff;
}
.fancybox-custom-prev  span:before,
.fancybox-custom-next span:before,
.fancybox-custom-prev  span:after,
.fancybox-custom-next span:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 -9px;
	opacity: 1;
	background: url(../img/sprite-icons.png) no-repeat;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.fancybox-custom-prev  span:before{
	background-position: 0 -38px;
	opacity: 1;
}
.fancybox-custom-next span:before{
	background-position: 0 -114px;
	opacity: 1;
}
.fancybox-custom-prev  span:after{
	background-position: 0 0;
	opacity: 0;
}
.fancybox-custom-next span:after{
	background-position: 0 -76px;
	opacity: 0;
}
body:not(.mobile-device) .fancybox-custom-prev  span:hover:before,
body:not(.mobile-device) .fancybox-custom-next span:hover:before{
	opacity: 0;
}
body:not(.mobile-device) .fancybox-custom-prev  span:hover:after,
body:not(.mobile-device) .fancybox-custom-next span:hover:after{
	opacity: 1;
}
/*fancybox gallery popup nav end*/

/*fancybox gallery popup close*/
.fancybox-close-custom{
	position: fixed;
	width: 30px;
	height: 30px;
	top: 10px;
	right: 10px;
	background: none;
	cursor: pointer;
	z-index: 8035;
	display: none;
	-webkit-transition: 0.2s cubic-bezier(0, 0, 0, 1);
	transition: 0.2s cubic-bezier(0, 0, 0, 1);
}
.fancybox-close-custom:hover{
	background: none;
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
.fancybox-close-custom:before,
.fancybox-close-custom:after{
	content: '';
	position: absolute;
	left: 3px;
	top: 13px;
	height: 6px;
	width: 24px;
	border-right: 2px;
	background: #fff;
}
.fancybox-close-custom:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.fancybox-close-custom:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/*fancybox gallery popup close end*/

.fancybox-tmp{
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock{
	width: auto;
}
.fancybox-overlay{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox/fancybox_overlay.png');
	background: rgba(0, 0, 0, 0.9);
}
.fancybox-overlay-fixed{
	position: fixed;
	bottom: 0;
	right: 0;
}
/* Title helper */
.fancybox-title{
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}
.fancybox-opened .fancybox-title{
	visibility: visible;
}
.fancybox-title-float-wrap{
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child{
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #fff;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap{
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap{
	padding-top: 10px;
}
.fancybox-title-over-wrap{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
/*fancybox counter*/
.fancybox-counter{
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	padding: 20px 0;
}
.fancybox-counter .depict-icons-view{
	margin-right: 20px;
}
/*fancybox counter end*/

/*fancybox thumbs*/
#fancybox-thumbs {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 8050;
}
#fancybox-thumbs.bottom {
	bottom: 2px;
}
#fancybox-thumbs.top {
	top: 2px;
}
#fancybox-thumbs ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}
#fancybox-thumbs ul li {
	float: left;
	padding: 1px;
	opacity: 0.5;
}
#fancybox-thumbs ul li.active {
	opacity: 0.75;
	padding: 0;
	border: 1px solid #fff;
}
#fancybox-thumbs ul li:hover {
	opacity: 1;
}
#fancybox-thumbs ul li a {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #222;
	background: #111;
	outline: none;
}
#fancybox-thumbs ul li img {
	display: block;
	position: relative;
	border: 0;
	padding: 0;
	max-width: none;
}
/*fancybox thumbs end*/
/*--- fancybox end ---*/