@import ../libs/include-media/dist/include-media
@import utils/variables
@import utils/functions
@import utils/mixins
@import utils/placeholders

.spec-panel
	display: none
	position: fixed
	left: 0
	top: 0
	height: 100%
	width: 70px
	z-index: 999
	font-size: 16px
	line-height: 1
	overflow: hidden
	border: 0 solid currentColor
	border-width: 0 1px 0 0
	//background-color: var(--main-bg-color);
	background-color: inherit
	will-change: transform
	-webkit-transform: translate(0, 0)
	-ms-transform: translate(0, 0)
	transform: translate(0, 0)
	-webkit-transition: transform 0.3s linear
	transition: transform 0.3s linear

@media only screen and (max-width: 479px)
	.spec-panel
		height: 70px
		width: 100%
		border-width: 0 0 2px 0

.vspec .spec-panel
	display: block

@media only screen and (max-width: 979px)
	.nav-opened .inner-page .spec-panel
		-webkit-transform: translate(-100%, 0)
		-ms-transform: translate(-100%, 0)
		transform: translate(-100%, 0)

@media only screen and (max-width: 767px)
	.nav-opened .main-page .spec-panel
		-webkit-transform: translate(-100%, 0)
		-ms-transform: translate(-100%, 0)
		transform: translate(-100%, 0)

.spec-panel:hover,
.mobile-device .spec-panel
	overflow-y: auto

@media only screen and (max-width: 479px)
	.spec-panel:hover,
	.mobile-device .spec-panel
		overflow-y: hidden
		overflow-x: auto

.spec-panel_h
	padding: 11px

.spec-panel,
.spec-panel_h
	width: 70px
	box-sizing: border-box

@media only screen and (max-width: 479px)
	.spec-panel,
	.spec-panel_h
		height: 70px
		width: 100%

.spec-panel hr
	//border: none;
	border-color: currentColor
	border-bottom-width: 1px
	margin: 20px 0

.spec-panel a
	margin-bottom: 15px

//.spec-panel a:last-child{
//	margin-bottom: 0;
//}
.spec-panel ~ .vspec-btn,
.spec-panel .vimg-btn,
.spec-panel .sv-btn-size,
.spec-panel .vcolor-btn,
.spec-panel .vnorm-btn
	display: block
	position: relative
	overflow: hidden
	width: 46px
	height: 46px
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
	text-decoration: none
	border-radius: 2px
	box-sizing: border-box
	font-size: 16px
	line-height: 1

.spec-panel ~ .vspec-btn:hover,
.spec-panel ~ .vspec-btn:focus,
.spec-panel .vimg-btn:hover,
.spec-panel .vimg-btn:focus,
.spec-panel .sv-btn-size:not(.active):hover,
.spec-panel .sv-btn-size:not(.active):focus,
.spec-panel .vcolor-btn:not(.active):hover,
.spec-panel .vcolor-btn:not(.active):focus,
.spec-panel .vnorm-btn:hover,
.spec-panel .vnorm-btn:focus
	-webkit-transform: translate(-1px, -1px)
	-ms-transform: translate(-1px, -1px)
	transform: translate(-1px, -1px)
	//box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

.spec-panel ~ .vspec-btn:active,
.spec-panel .vnorm-btn:active,
.spec-panel .vimg-btn:active,
.spec-panel .sv-btn-size:not(.active):active,
.spec-panel .vcolor-btn:not(.active):active,
.spec-panel .vspec .vspec-btn:active,
.spec-panel .vspec .vnorm-btn:active
	-webkit-transform: translate(0, 0)
	-ms-transform: translate(0, 0)
	transform: translate(0, 0)
	//box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

.spec-panel ~ .vspec-btn.active,
.spec-panel .vnorm-btn.active,
.spec-panel .vimg-btn.active,
.spec-panel .sv-btn-size.active,
.spec-panel .vcolor-btn.active,
.spec-panel .vspec .vspec-btn.active,
.spec-panel .vspec .vnorm-btn.active
	$w1: 0 0 0 2px
	$w2: 0 0 0 5px
	box-shadow: $w1 $spec-bg-color, $w2 $spec-text-color

	.schemecolor-white &
		box-shadow: $w1 $spec-bg-color--scheme-white, $w2 $spec-text-color--scheme-white

	.schemecolor-blue &
		box-shadow: $w1 $spec-bg-color--scheme-blue, $w2 $spec-text-color--scheme-blue

.spec-panel ~ .vspec-btn span,
.spec-panel .vimg-btn span,
.spec-panel .sv-btn-size span,
.spec-panel .vcolor-btn span,
.spec-panel .vnorm-btn span
	font-size: 0
	line-height: 0

.spec-panel ~ .vspec-btn svg,
.spec-panel .vimg-btn svg,
.spec-panel .sv-btn-size svg,
.spec-panel .vcolor-btn svg,
.spec-panel .vnorm-btn svg
	display: block
	position: absolute
	left: 50%
	top: 50%
	$size: 30px
	width: $size
	height: $size
	margin: -#{round($size/2)} 0 0 -#{round($size/2)}
	box-sizing: border-box

.spec-panel .sv-btn-size--sm svg
	$size: 20px
	width: $size
	height: $size
	margin: -#{round($size/2)} 0 0 -#{round($size/2)}

.spec-panel .sv-btn-size--md svg
	$size: 24px
	width: $size
	height: $size
	margin: -#{round($size/2)} 0 0 -#{round($size/2)}

.spec-panel .sv-btn-size--lg svg
	$size: 30px
	width: $size
	height: $size
	margin: -#{round($size/2)} 0 0 -#{round($size/2)}

.spec-panel ~ .vspec-btn path,
.spec-panel .vimg-btn path,
.spec-panel .sv-btn-size path,
.spec-panel .vnorm-btn path
	fill: currentColor

.spec-panel .vimg-btn,
.spec-panel .sv-btn-size,
.spec-panel .vcolor-btn,
.spec-panel .vnorm-btn
	border: 2px solid currentColor
	//background-color: white;
	background-color: inherit
	box-shadow: none

.spec-panel .vnorm-btn
	display: none

/*.vnorm-btn::after,
.spec-panel
	.vnorm-btn::after,
	.vimg-btn::after
		content: ""
		display: block
		position: absolute
		top: 50%
		left: 50%
		width: 50px
		height: 3px
		box-shadow: -1px -1px 0 $spec-bg-color, -2px -2px 0 $spec-bg-color
		margin-left: -25px
		background-color: currentColor
		-webkit-transform: rotate(-35deg)
		-ms-transform: rotate(-35deg)
		transform: rotate(-35deg)
		box-sizing: border-box

		.schemecolor-white &
			box-shadow: -1px -1px 0 $spec-bg-color--scheme-white, -2px -2px 0 $spec-bg-color--scheme-white

		.schemecolor-blue &
			box-shadow: -1px -1px 0 $spec-bg-color--scheme-blue, -2px -2px 0 $spec-bg-color--scheme-blue

.vspec .spec-panel .vnorm-btn
	display: block

.spec-panel ~ .vspec-btn
	position: fixed
	left: 10px
	top: 10px
	z-index: 9998
	background-color: wheat

.vspec .spec-panel ~ .vspec-btn
	display: none

//.vimg-btn.active{
//	background-color: black;
//	color: white;
//}
.spec-panel .vimg-btn.active::after
	display: none

/* vsize-btn
.spec-panel .vsize.active
	cursor: default

.spec-panel .sv-btn-size
	//background-color: #000;
	background-color: #404040
	//border-color: #000;
	border-color: #404040
	//color: #fff;
	color: #fff

.spec-panel .sv-btn-size.active
	//background-color: #fff;
	background-color: inherit
	//border-color: #000;
	color: inherit
	border-color: currentColor

/* vcolor-btn
.spec-panel .vcolor-btn-black
	color: #000
	background-color: #fff

.spec-panel .vcolor-btn-white
	color: #fff
	background-color: #000

.spec-panel .vcolor-btn-blue
	color: #002d56
	background-color: #c8e5ff

.spec-panel .vcolor-btn-black, .spec-panel .vcolor-btn-white, .spec-panel .vcolor-btn-blue
	border-color: $spec-text-color

	.schemecolor-white &
		border-color: $spec-text-color--scheme-white

	.schemecolor-blue &
		border-color: $spec-text-color--scheme-blue

// letter spacing
$icon-spacing--size: 16px 2px // h w
$icon-spacing--space: 3px // h
.sv-spacing-btn--small, .sv-spacing-btn--medium, .sv-spacing-btn--large
	.spec-panel &
		.icon
			&, &::before, &::after
				display: block
				position: absolute
				left: 50%
				top: 50%
				height: nth($icon-spacing--size, 1)
				width: nth($icon-spacing--size, 2)
				background-color: currentColor

			&
				margin: -#{round(nth($icon-spacing--size, 1)/2)} 0 0 -#{round(nth($icon-spacing--size, 2)/2)}

			&::before, &::after
				content: ""
				margin-top: -#{round(nth($icon-spacing--size, 1)/2)}

			&::before
				margin-left: -#{$icon-spacing--space + round(nth($icon-spacing--size, 2)*1.5)}

			&::after
				margin-left: #{$icon-spacing--space + round(nth($icon-spacing--size, 2)*0.5)}

.sv-spacing-btn--medium
	.spec-panel &
		.icon
			$icon-spacing--space: 6px // h

			&::before
				margin-left: -#{$icon-spacing--space + round(nth($icon-spacing--size, 2)*1.5)}

			&::after
				margin-left: #{$icon-spacing--space + round(nth($icon-spacing--size, 2)*0.5)}

.sv-spacing-btn--large
	.spec-panel &
		.icon
			$icon-spacing--space: 9px // h

			&::before
				margin-left: -#{$icon-spacing--space + round(nth($icon-spacing--size, 2)*1.5)}

			&::after
				margin-left: #{$icon-spacing--space + round(nth($icon-spacing--size, 2)*0.5)}
