@import functions
@import placeholders

// medium query
$breakpoints: ('desk-qhd': 2560px, 'desk-hd': 1920px, 'desk-lg': 1600px, 'desk-ml': 1440px, 'desk-md': 1366px, 'desk-sm': 1200px, 'tab-lg': 980px, 'tab-sm': 768px, 'mob-lg': 640px, 'mob-md': 480px, 'mob-sm': 320px)

$spec-text-color: #000
$spec-bg-color: #fff

$spec-text-color--scheme-white: #fff
$spec-bg-color--scheme-white: #000

//$spec-text-color--scheme-blue: #002d56
$spec-text-color--scheme-blue: #004c92
//$spec-text-color--scheme-blue: #2771ff
//$spec-text-color--scheme-blue: #ff74a3
$spec-bg-color--scheme-blue: #c8e5ff

$font-size: 18px
//$line-height: 32px;
$line-height: 1.78
$font-size--sm: 14px
$font-size--lg: 30px

//$font-size$small: 16px;
$font-size--small: 0.89em
//$line-height$small: 28px;
$line-height--small: 1.75

$title-font-size: 30px
//$title-font-size: 1.67em
//$title-line-height: 36px
$title-line-height: 1.6

//$sub-title-font-size: 24px;
$sub-title-font-size: 1.44em // 26px
//$sub-title-line-height: 30px;
$sub-title-line-height: 1.55

//$item-font-size: 24px;
$item-font-size: 1.22em // 22px
//$item-line-height: 30px;
$item-line-height: 1.55

$letter-spacing: normal
$letter-spacing--medium: 0.2em
$letter-spacing--large: 0.5em

//$bottom-space-section: 30px;
$bottom-space-section: 2.5em
$bottom-space: 0.8em
$bottom-space-item: 2em

// space horizontal
$space: 30px
$space-sm: 20px
$space-mob: 15px