.spec-panel {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 70px;
	z-index: 999;
	font-size: 16px;
	line-height: 1;
	overflow: hidden;
	box-shadow: 0 0 0 1px currentColor;
	background-color: inherit;
	will-change: transform;
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	transition: transform 0.3s linear;
}

@media (max-width: 478px) {
	.spec-panel {
		height: 70px;
		width: 100%;
		border-width: 0 0 2px 0;
	}
}

.vspec .spec-panel {
	display: block;
}

.spec-panel:hover,
.mobile-device .spec-panel {
	overflow-y: auto;
}

@media (max-width: 479px) {
	.spec-panel:hover,
	.mobile-device .spec-panel {
		overflow-y: hidden;
		overflow-x: auto;
	}
}

@media (max-width: 979px) {
	.nav-opened .inner-page .spec-panel {
		-ms-transform: translate(-100%, 0);
		    transform: translate(-100%, 0);
	}
}

@media (max-width: 767px) {
	.nav-opened .main-page .spec-panel {
		-ms-transform: translate(-100%, 0);
		    transform: translate(-100%, 0);
	}
}

.spec-panel hr {
	border-color: currentColor;
	border-bottom-width: 1px;
	margin: 20px 0;
}

.spec-panel a {
	margin-bottom: 18px;
}

.spec-panel_h {
	padding: 20px 0;
	text-align: center;
}

.spec-panel,
.spec-panel_h {
	width: 70px;
	box-sizing: border-box;
}

@media (max-width: 479px) {
	.spec-panel,
	.spec-panel_h {
		height: 70px;
		width: 100%;
	}
}

.vspec-btn,
.spec-panel .sv-btn,
.spec-panel .vnorm-btn {
	display: block;
	position: relative;
	overflow: hidden;
	width: 42px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	border: 1px solid #000;
	box-sizing: border-box;
}

.schemecolor-white .vspec-btn, .schemecolor-white
.spec-panel .sv-btn, .schemecolor-white
.spec-panel .vnorm-btn {
	border-color: #fff;
}

.schemecolor-blue .vspec-btn, .schemecolor-blue
.spec-panel .sv-btn, .schemecolor-blue
.spec-panel .vnorm-btn {
	border-color: #ff6c87;
}

.vspec-btn:hover,
.spec-panel .sv-btn:not(.active):hover,
.spec-panel .vnorm-btn:hover {
	-ms-transform: translate(-1px, -1px);
	transform: translate(-1px, -1px);
}

.vspec-btn:focus,
.spec-panel .sv-btn:not(.active):focus,
.spec-panel .vnorm-btn:focus {
	-ms-transform: translate(-1px, -1px);
	transform: translate(-1px, -1px);
}

.vspec-btn:active,
.spec-panel .vnorm-btn:active,
.spec-panel .sv-btn:active,
.spec-panel .vspec .vnorm-btn:active {
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.vspec-btn.active,
.spec-panel .vnorm-btn.active,
.spec-panel .sv-btn.active,
.spec-panel .vspec .vnorm-btn.active {
	box-shadow: 0 0 0 2px #fff, 0 0 0 6px #000;
}

.schemecolor-white .vspec-btn.active, .schemecolor-white
.spec-panel .vnorm-btn.active, .schemecolor-white
.spec-panel .sv-btn.active, .schemecolor-white
.spec-panel .vspec .vnorm-btn.active {
	box-shadow: 0 0 0 2px #000, 0 0 0 6px #fff;
}

.schemecolor-blue .vspec-btn.active, .schemecolor-blue
.spec-panel .vnorm-btn.active, .schemecolor-blue
.spec-panel .sv-btn.active, .schemecolor-blue
.spec-panel .vspec .vnorm-btn.active {
	box-shadow: 0 0 0 2px #c8e5ff, 0 0 0 6px #ff6c87;
}

.vspec-btn span,
.spec-panel .sv-btn span,
.spec-panel .vnorm-btn span {
	font-size: 0;
	line-height: 0;
}

.vspec-btn svg,
.spec-panel .sv-btn svg,
.spec-panel .vnorm-btn svg {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	box-sizing: border-box;
}

.vspec-btn path,
.spec-panel .sv-btn path,
.spec-panel .vnorm-btn path {
	fill: currentColor;
}

.spec-panel .vnorm-btn {
	display: none;
}

.vspec .spec-panel .vnorm-btn {
	display: block;
}

.vspec-btn {
	position: fixed;
	left: 10px;
	top: 10px;
	z-index: 9998;
	background-color: wheat;
	border: none;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.vspec .vspec-btn {
	display: none;
}

/* vsize-btn */
.spec-panel .vsize.active {
	cursor: default;
}

/* special version color */
.spec-panel .vcolor-btn-black {
	color: #000;
	background-color: #fff;
}

.spec-panel .vcolor-btn-white {
	color: #fff;
	background-color: #000;
}

.spec-panel .vcolor-btn-blue {
	color: #002d56;
	background-color: #c8e5ff;
}

.spec-panel .sv-spacing-btn--small .icon, .spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon, .spec-panel .sv-spacing-btn--large .icon::before, .spec-panel .sv-spacing-btn--large .icon::after {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 16px;
	width: 2px;
	background-color: currentColor;
}

.spec-panel .sv-spacing-btn--small .icon, .spec-panel .sv-spacing-btn--medium .icon, .spec-panel .sv-spacing-btn--large .icon {
	margin: -8px 0 0 -1px;
}

.spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon::before, .spec-panel .sv-spacing-btn--large .icon::after {
	content: "";
	margin-top: -8px;
}

.spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--large .icon::before {
	margin-left: -6px;
}

.spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon::after {
	margin-left: 4px;
}

.spec-panel .sv-spacing-btn--medium .icon::before {
	margin-left: -9px;
}

.spec-panel .sv-spacing-btn--medium .icon::after {
	margin-left: 7px;
}

.spec-panel .sv-spacing-btn--large .icon::before {
	margin-left: -12px;
}

.spec-panel .sv-spacing-btn--large .icon::after {
	margin-left: 10px;
}

/*# sourceMappingURL=base.css.map */
