.spec-panel {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 70px;
	z-index: 999;
	font-size: 16px;
	line-height: 1;
	overflow: hidden;
	box-shadow: 0 0 0 1px currentColor;
	background-color: inherit;
	will-change: transform;
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	transition: transform 0.3s linear;
}

@media (max-width: 479px) {
	.spec-panel {
		height: 70px;
		width: 100%;
		border-width: 0 0 2px 0;
		box-shadow: 0 0 0 2px currentColor, 0 4px 4px rgba(0, 0, 0, 0.3);
	}
	.schemecolor-white .spec-panel {
		box-shadow: 0 0 0 2px currentColor, 0 4px 4px rgba(255, 255, 255, 0.3);
	}
	.schemecolor-blue .spec-panel {
		box-shadow: 0 0 0 2px currentColor, 0 4px 4px rgba(0, 76, 146, 0.3);
	}
}

.vspec .spec-panel {
	display: block;
}

.spec-panel:hover,
.mobile-device .spec-panel {
	overflow-y: auto;
}

@media (max-width: 479px) {
	.spec-panel:hover,
	.mobile-device .spec-panel {
		overflow-y: hidden;
		overflow-x: auto;
	}
}

@media (max-width: 979px) {
	.nav-opened .inner-page .spec-panel {
		-ms-transform: translate(-100%, 0);
		    transform: translate(-100%, 0);
	}
}

@media (max-width: 479px) {
	.nav-opened .inner-page .spec-panel {
		-ms-transform: translate(0, calc(-100% - 2px));
		    transform: translate(0, calc(-100% - 2px));
		box-shadow: none;
	}
}

@media (max-width: 767px) {
	.nav-opened .main-page .spec-panel {
		-ms-transform: translate(-100%, 0);
		    transform: translate(-100%, 0);
	}
}

@media (max-width: 479px) {
	.spec-panel .sv-btn-group {
		display: inline-block;
		vertical-align: top;
	}
}

.spec-panel hr {
	border-color: currentColor;
	border-bottom-width: 1px;
	margin: 20px 0;
}

@media (max-width: 479px) {
	.spec-panel hr {
		display: inline-block;
		vertical-align: top;
		border-left: 1px solid currentColor;
		border: none;
		width: 0;
		height: 36px;
		margin: 0 10px 0 0;
	}
}

.spec-panel a {
	display: block;
	margin-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 479px) {
	.spec-panel a {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0;
		margin-right: 10px;
	}
}

.spec-panel_h {
	padding: 20px 0;
	text-align: center;
	letter-spacing: -4px;
	font-size: 0;
	line-height: 1;
}

@media (max-width: 479px) {
	.spec-panel_h {
		white-space: nowrap;
		padding: 10px;
	}
}

.spec-panel,
.spec-panel_h {
	width: 70px;
	box-sizing: border-box;
}

@media (max-width: 479px) {
	.spec-panel,
	.spec-panel_h {
		height: 56px;
		width: 100%;
	}
}

.sv-btn-on {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 42px;
	height: 42px;
	font-size: 16px;
	z-index: 9998;
	background-color: wheat;
}

.vspec .sv-btn-on {
	display: none;
}

.sv-btn-on span {
	font-size: 0;
	line-height: 0;
}

.sv-btn-on svg {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	box-sizing: border-box;
}

.sv-btn-on path {
	fill: currentColor;
}

.sv-btn-on:hover, .sv-btn-on:focus {
	-ms-transform: translate(-1px, -1px);
	    transform: translate(-1px, -1px);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.sv-btn-on, .sv-btn-on:active {
	-ms-transform: translate(0, 0);
	    transform: translate(0, 0);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.spec-panel .sv-btn {
	width: 42px;
	height: 42px;
	position: relative;
	font-size: 16px;
	line-height: 1;
	letter-spacing: normal;
	text-decoration: none;
	border-radius: 1px;
	border: 1px solid #000;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-user-select: none !important;
	   -moz-user-select: none !important;
	    -ms-user-select: none !important;
	        user-select: none !important;
}

@media (max-width: 479px) {
	.spec-panel .sv-btn {
		width: 36px;
		height: 36px;
	}
}

.schemecolor-white .spec-panel .sv-btn {
	border-color: #fff;
}

.schemecolor-blue .spec-panel .sv-btn {
	border-color: #004c92;
}

.spec-panel .sv-btn::after {
	content: "";
	display: none;
	position: absolute;
	top: 50%;
	right: -22px;
	height: 24px;
	width: 24px;
	margin-top: -12px;
	width: 0;
	height: 0;
	z-index: 2;
	border-right: 14px solid currentColor;
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
}

@media (max-width: 479px) {
	.spec-panel .sv-btn::after {
		border: none;
		width: 0;
		height: 0;
		z-index: 2;
		border-bottom: 14px solid currentColor;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		top: auto;
		right: auto;
		left: 50%;
		bottom: -20px;
		margin: 0 0 0 -12px;
	}
}

.spec-panel .sv-btn:hover, .spec-panel .sv-btn:focus,
.spec-panel .sv-btn[data-toggle]:hover,
.spec-panel .sv-btn[data-toggle]:focus,
.spec-panel .sv-btn.active[data-toggle]:hover,
.spec-panel .sv-btn.active[data-toggle]:focus {
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #000;
}

.schemecolor-white .spec-panel .sv-btn:hover, .schemecolor-white .spec-panel .sv-btn:focus, .schemecolor-white
.spec-panel .sv-btn[data-toggle]:hover, .schemecolor-white
.spec-panel .sv-btn[data-toggle]:focus, .schemecolor-white
.spec-panel .sv-btn.active[data-toggle]:hover, .schemecolor-white
.spec-panel .sv-btn.active[data-toggle]:focus {
	box-shadow: 0 0 0 2px #000, 0 0 0 5px #fff;
}

.schemecolor-blue .spec-panel .sv-btn:hover, .schemecolor-blue .spec-panel .sv-btn:focus, .schemecolor-blue
.spec-panel .sv-btn[data-toggle]:hover, .schemecolor-blue
.spec-panel .sv-btn[data-toggle]:focus, .schemecolor-blue
.spec-panel .sv-btn.active[data-toggle]:hover, .schemecolor-blue
.spec-panel .sv-btn.active[data-toggle]:focus {
	box-shadow: 0 0 0 2px #c8e5ff, 0 0 0 5px #004c92;
}

.spec-panel .sv-btn.active, .spec-panel .sv-btn.active:hover, .spec-panel .sv-btn.active:focus {
	cursor: default;
	box-shadow: none;
	border-width: 4px;
}

.spec-panel .sv-btn.active::after {
	display: block;
}

.spec-panel .sv-btn.active[data-toggle], .spec-panel .sv-btn.active[data-toggle]:hover, .spec-panel .sv-btn.active[data-toggle]:focus {
	cursor: pointer;
}

.spec-panel .sv-btn span {
	font-size: 0;
	line-height: 0;
}

.spec-panel .sv-btn svg {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	box-sizing: border-box;
}

@media (max-width: 479px) {
	.spec-panel .sv-btn svg {
		-ms-transform: translate(-50%, -50%) scale(0.85);
		    transform: translate(-50%, -50%) scale(0.85);
	}
}

.spec-panel .sv-btn path {
	fill: currentColor;
}

.spec-panel .sv-btn-off {
	display: none;
}

.vspec .spec-panel .sv-btn-off {
	display: block;
}

.vspec .spec-panel .sv-btn-off::before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 3px;
	margin: -1px 0 0 -20px;
	border: none;
	background-color: currentColor;
	-ms-transform: rotate(-0.1turn);
	    transform: rotate(-0.1turn);
}

@media (max-width: 479px) {
	.vspec .spec-panel .sv-btn-off::before {
		width: 34px;
		margin: -1px 0 0 -17px;
	}
}

.vspec .spec-panel .sv-btn-off::after {
	content: none;
}

@media (max-width: 479px) {
	.vspec .spec-panel .sv-btn-off {
		display: inline-block;
	}
}

/* special version color */
.spec-panel .vcolor-btn-black {
	color: #000;
	background-color: #fff;
}

.spec-panel .vcolor-btn-white {
	color: #fff;
	background-color: #000;
}

.spec-panel .vcolor-btn-blue {
	color: #004c92;
	background-color: #c8e5ff;
}

.spec-panel .sv-spacing-btn--small .icon, .spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon, .spec-panel .sv-spacing-btn--large .icon::before, .spec-panel .sv-spacing-btn--large .icon::after {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 16px;
	width: 2px;
	background-color: currentColor;
}

.spec-panel .sv-spacing-btn--small .icon, .spec-panel .sv-spacing-btn--medium .icon, .spec-panel .sv-spacing-btn--large .icon {
	margin: -8px 0 0 -1px;
}

@media (max-width: 479px) {
	.spec-panel .sv-spacing-btn--small .icon, .spec-panel .sv-spacing-btn--medium .icon, .spec-panel .sv-spacing-btn--large .icon {
		-ms-transform: scale(0.85);
		    transform: scale(0.85);
	}
}

.spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon::before, .spec-panel .sv-spacing-btn--large .icon::after {
	content: "";
	margin-top: -8px;
}

.spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--large .icon::before {
	margin-left: -6px;
}

.spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon::after {
	margin-left: 4px;
}

.spec-panel .sv-spacing-btn--medium .icon::before {
	margin-left: -9px;
}

.spec-panel .sv-spacing-btn--medium .icon::after {
	margin-left: 7px;
}

.spec-panel .sv-spacing-btn--large .icon::before {
	margin-left: -12px;
}

.spec-panel .sv-spacing-btn--large .icon::after {
	margin-left: 10px;
}

.main-contacts,
.local-map {
	height: 595px;
}

/*# sourceMappingURL=base.css.map */
