.spec-panel {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 70px;
	z-index: 999;
	font-size: 16px;
	line-height: 1;
	overflow: hidden;
	border: 0 solid currentColor;
	border-width: 0 1px 0 0;
	background-color: inherit;
	will-change: transform;
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	transition: transform 0.3s linear;
}

@media only screen and (max-width: 479px) {
	.spec-panel {
		height: 70px;
		width: 100%;
		border-width: 0 0 2px 0;
	}
}

.vspec .spec-panel {
	display: block;
}

@media only screen and (max-width: 979px) {
	.nav-opened .inner-page .spec-panel {
		-ms-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}

@media only screen and (max-width: 767px) {
	.nav-opened .main-page .spec-panel {
		-ms-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}

.spec-panel:hover,
.mobile-device .spec-panel {
	overflow-y: auto;
}

@media only screen and (max-width: 479px) {
	.spec-panel:hover,
	.mobile-device .spec-panel {
		overflow-y: hidden;
		overflow-x: auto;
	}
}

.spec-panel_h {
	padding: 11px;
}

.spec-panel,
.spec-panel_h {
	width: 70px;
	box-sizing: border-box;
}

@media only screen and (max-width: 479px) {
	.spec-panel,
	.spec-panel_h {
		height: 70px;
		width: 100%;
	}
}

.spec-panel hr {
	border-color: currentColor;
	border-bottom-width: 1px;
	margin: 20px 0;
}

.spec-panel a {
	margin-bottom: 15px;
}

.spec-panel ~ .vspec-btn,
.spec-panel .vimg-btn,
.spec-panel .sv-btn-size,
.spec-panel .vcolor-btn,
.spec-panel .vnorm-btn {
	display: block;
	position: relative;
	overflow: hidden;
	width: 46px;
	height: 46px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1;
}

.spec-panel ~ .vspec-btn:hover,
.spec-panel ~ .vspec-btn:focus,
.spec-panel .vimg-btn:hover,
.spec-panel .vimg-btn:focus,
.spec-panel .sv-btn-size:not(.active):hover,
.spec-panel .sv-btn-size:not(.active):focus,
.spec-panel .vcolor-btn:not(.active):hover,
.spec-panel .vcolor-btn:not(.active):focus,
.spec-panel .vnorm-btn:hover,
.spec-panel .vnorm-btn:focus {
	-ms-transform: translate(-1px, -1px);
	transform: translate(-1px, -1px);
}

.spec-panel ~ .vspec-btn:active,
.spec-panel .vnorm-btn:active,
.spec-panel .vimg-btn:active,
.spec-panel .sv-btn-size:not(.active):active,
.spec-panel .vcolor-btn:not(.active):active,
.spec-panel .vspec .vspec-btn:active,
.spec-panel .vspec .vnorm-btn:active {
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.spec-panel ~ .vspec-btn.active,
.spec-panel .vnorm-btn.active,
.spec-panel .vimg-btn.active,
.spec-panel .sv-btn-size.active,
.spec-panel .vcolor-btn.active,
.spec-panel .vspec .vspec-btn.active,
.spec-panel .vspec .vnorm-btn.active {
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #000;
}

.schemecolor-white .spec-panel ~ .vspec-btn.active, .schemecolor-white
.spec-panel .vnorm-btn.active, .schemecolor-white
.spec-panel .vimg-btn.active, .schemecolor-white
.spec-panel .sv-btn-size.active, .schemecolor-white
.spec-panel .vcolor-btn.active, .schemecolor-white
.spec-panel .vspec .vspec-btn.active, .schemecolor-white
.spec-panel .vspec .vnorm-btn.active {
	box-shadow: 0 0 0 2px #000, 0 0 0 5px #fff;
}

.schemecolor-blue .spec-panel ~ .vspec-btn.active, .schemecolor-blue
.spec-panel .vnorm-btn.active, .schemecolor-blue
.spec-panel .vimg-btn.active, .schemecolor-blue
.spec-panel .sv-btn-size.active, .schemecolor-blue
.spec-panel .vcolor-btn.active, .schemecolor-blue
.spec-panel .vspec .vspec-btn.active, .schemecolor-blue
.spec-panel .vspec .vnorm-btn.active {
	box-shadow: 0 0 0 2px #c8e5ff, 0 0 0 5px #002d56;
}

.spec-panel ~ .vspec-btn span,
.spec-panel .vimg-btn span,
.spec-panel .sv-btn-size span,
.spec-panel .vcolor-btn span,
.spec-panel .vnorm-btn span {
	font-size: 0;
	line-height: 0;
}

.spec-panel ~ .vspec-btn svg,
.spec-panel .vimg-btn svg,
.spec-panel .sv-btn-size svg,
.spec-panel .vcolor-btn svg,
.spec-panel .vnorm-btn svg {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 30px;
	height: 30px;
	margin: -15px 0 0 -15px;
	box-sizing: border-box;
}

.spec-panel .sv-btn-size--sm svg {
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
}

.spec-panel .sv-btn-size--md svg {
	width: 24px;
	height: 24px;
	margin: -12px 0 0 -12px;
}

.spec-panel .sv-btn-size--lg svg {
	width: 30px;
	height: 30px;
	margin: -15px 0 0 -15px;
}

.spec-panel ~ .vspec-btn path,
.spec-panel .vimg-btn path,
.spec-panel .sv-btn-size path,
.spec-panel .vnorm-btn path {
	fill: currentColor;
}

.spec-panel .vimg-btn,
.spec-panel .sv-btn-size,
.spec-panel .vcolor-btn,
.spec-panel .vnorm-btn {
	border: 2px solid currentColor;
	background-color: inherit;
	box-shadow: none;
}

.spec-panel .vnorm-btn {
	display: none;
}

/*.vnorm-btn::after, */
.spec-panel .vnorm-btn::after,
.spec-panel .vimg-btn::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 3px;
	box-shadow: -1px -1px 0 #fff, -2px -2px 0 #fff;
	margin-left: -25px;
	background-color: currentColor;
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
	box-sizing: border-box;
}

.schemecolor-white .spec-panel .vnorm-btn::after, .schemecolor-white
.spec-panel .vimg-btn::after {
	box-shadow: -1px -1px 0 #000, -2px -2px 0 #000;
}

.schemecolor-blue .spec-panel .vnorm-btn::after, .schemecolor-blue
.spec-panel .vimg-btn::after {
	box-shadow: -1px -1px 0 #c8e5ff, -2px -2px 0 #c8e5ff;
}

.vspec .spec-panel .vnorm-btn {
	display: block;
}

.spec-panel ~ .vspec-btn {
	position: fixed;
	left: 10px;
	top: 10px;
	z-index: 9998;
	background-color: wheat;
}

.vspec .spec-panel ~ .vspec-btn {
	display: none;
}

.spec-panel .vimg-btn.active::after {
	display: none;
}

/* vsize-btn */
.spec-panel .vsize.active {
	cursor: default;
}

.spec-panel .sv-btn-size {
	background-color: #404040;
	border-color: #404040;
	color: #fff;
}

.spec-panel .sv-btn-size.active {
	background-color: inherit;
	color: inherit;
	border-color: currentColor;
}

/* vcolor-btn */
.spec-panel .vcolor-btn-black {
	color: #000;
	background-color: #fff;
}

.spec-panel .vcolor-btn-white {
	color: #fff;
	background-color: #000;
}

.spec-panel .vcolor-btn-blue {
	color: #002d56;
	background-color: #c8e5ff;
}

.spec-panel .vcolor-btn-black, .spec-panel .vcolor-btn-white, .spec-panel .vcolor-btn-blue {
	border-color: #000;
}

.schemecolor-white .spec-panel .vcolor-btn-black, .schemecolor-white .spec-panel .vcolor-btn-white, .schemecolor-white .spec-panel .vcolor-btn-blue {
	border-color: #fff;
}

.schemecolor-blue .spec-panel .vcolor-btn-black, .schemecolor-blue .spec-panel .vcolor-btn-white, .schemecolor-blue .spec-panel .vcolor-btn-blue {
	border-color: #002d56;
}

.spec-panel .sv-spacing-btn--small .icon, .spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon, .spec-panel .sv-spacing-btn--large .icon::before, .spec-panel .sv-spacing-btn--large .icon::after {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 16px;
	width: 2px;
	background-color: currentColor;
}

.spec-panel .sv-spacing-btn--small .icon, .spec-panel .sv-spacing-btn--medium .icon, .spec-panel .sv-spacing-btn--large .icon {
	margin: -8px 0 0 -1px;
}

.spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon::before, .spec-panel .sv-spacing-btn--large .icon::after {
	content: "";
	margin-top: -8px;
}

.spec-panel .sv-spacing-btn--small .icon::before, .spec-panel .sv-spacing-btn--medium .icon::before, .spec-panel .sv-spacing-btn--large .icon::before {
	margin-left: -6px;
}

.spec-panel .sv-spacing-btn--small .icon::after, .spec-panel .sv-spacing-btn--medium .icon::after, .spec-panel .sv-spacing-btn--large .icon::after {
	margin-left: 4px;
}

.spec-panel .sv-spacing-btn--medium .icon::before {
	margin-left: -9px;
}

.spec-panel .sv-spacing-btn--medium .icon::after {
	margin-left: 7px;
}

.spec-panel .sv-spacing-btn--large .icon::before {
	margin-left: -12px;
}

.spec-panel .sv-spacing-btn--large .icon::after {
	margin-left: 10px;
}

/*# sourceMappingURL=base.css.map */
